Repository scale-met/scale: changes, and which GitLab CI jobs are due for each by the changed paths.
All: normal, openmp, lib-unit, ug-en, ug-jp, description

.gitlab-ci.yml:

before_script:
  - apt-get update -qq
  - export SCALE_SYS=Linux64-gnu-ompi

stages:
  - build
  - test
  - doc


# BUILD

normal:
  stage: build
  script:
    - apt-get install -y -qq libopenmpi-dev gfortran libnetcdf-dev libnetcdff-dev
    - cd scale-rm/src
    - make -j 4
    - make -j 4 SCALE_USE_SINGLEFP=T
#    - make -j 4 SCALE_QUICKDEBUT=T
    - cd ../util/sno
    - make -j 4
    - cd ../../../scale-gm/src
    - make -j 4
    - make -j 4 SCALE_USE_SINGLEFP=T
  only:
    refs:
      - merge_requests
    changes:
      - scalelib/src/**/*
      - scale-rm/src/**/*
      - scale-gm/src/**/*

openmp:
  stage: build
  script:
    - apt-get install -y -qq libopenmpi-dev gfortran libnetcdf-dev libnetcdff-dev
    - cd scale-rm/src
    - make -j 4 SCALE_ENABLE_OPENMP=T
    - cd ../../scale-gm/src
    - make -j 4 SCALE_ENABLE_OPENMP=T
  only:
    refs:
      - merge_requests
    changes:
      - scalelib/src/**/*
      - scale-rm/src/**/*
      - scale-gm/src/**/*


#debug-gm:
#  stage: build
#  script:
#    - apt-get install -y -qq libopenmpi-dev gfortran libnetcdf-dev libnetcdff-dev
#    - cd scale-gm/src
#    - make -j 4 SCALE_QUICKDEBUT=T
#    - make -j 4 SCALE_DEBUT=T
#  only:
#    refs:
#      - merge_requests
#    changes:
#      - scalelib/src/**/*
#      - scale-rm/src/**/*
#      - scale-gm/src/**/*


# TEST

lib-unit:
  stage: test
  script:
    - apt-get install -y -qq libopenmpi-dev gfortran libnetcdf-dev
    - cd scalelib/test/unit
    - make makedir
    - make makelib
    - make makebin
    - mpirun --allow-run-as-root --oversubscribe -n 4 ./unit run.conf
  only:
    refs:
      - merge_requests
    changes:
      - scalelib/**/*
      - scale-rm/**/*
      - scale-gm/**/*


# DOC

ug-en:
  stage: doc
  script:
    - apt-get install -y -qq texlive-latex-base texlive-lang-japanese texlive-latex-recommended texlive-latex-extra
    - cd doc/users-guide/en
    - make
  artifacts:
    paths:
      - doc/users-guide/en/scale_users_guide_En.pdf
    expire_in: 1 mos
  only:
    refs:
      - merge_requests
    changes:
      - doc/users-guide/en/*

ug-jp:
  stage: doc
  script:
    - apt-get install -y -qq texlive-latex-base texlive-lang-japanese texlive-latex-recommended texlive-latex-extra
    - cd doc/users-guide/jp
    - make
  artifacts:
    paths:
      - doc/users-guide/jp/scale_users_guide.pdf
    expire_in: 1 mos
  only:
    refs:
      - merge_requests
    changes:
      - doc/users-guide/jp/*

description:
  stage: doc
  script:
    - apt-get install -y -qq texlive-latex-base texlive-lang-japanese texlive-science
    - cd doc/descriptions
    - make
  artifacts:
    paths:
      - doc/descriptions/scale_rm_description.pdf
    expire_in: 1 mos
  only:
    refs:
      - merge_requests
    changes:
      - doc/users-guide/descriptions/*


reference:
  stage: doc
  script:
    - apt-get install -y -qq doxygen graphviz
    - apt-get install -y -qq texlive-latex-base texlive-lang-japanese texlive-fonts-extra
    - cd doc/reference
    - make
  artifacts:
    paths:
      - doc/reference/latex/refman.pdf
      - doc/reference/html/
    expire_in: 1 mos
  when: manual

update the beta in the iteration in the kusaka01 scheme
  scalelib/src/urban/dynamics/scale_urban_dyn_kusaka01.F90
Due: normal, openmp, lib-unit

fix Mkjobshell.FUGAKU.sh
  scale-gm/test/framework/benchmark/Mkjobshell.FUGAKU.sh
  scale-rm/test/framework/benchmark/Mkjobshell.FUGAKU.sh
  sysdep/Mkjobshell.FUGAKU.sh
Due: lib-unit

delete sysdep files for FX100 and OFP
  scale-gm/test/framework/benchmark/Makedef.FX100
  scale-gm/test/framework/benchmark/Makedef.OFP
  scale-gm/test/framework/benchmark/Mkjobshell.FX100.sh
  scale-gm/test/framework/benchmark/Mkjobshell.OFP.sh
  scale-rm/test/framework/benchmark/Makedef.FX100
  scale-rm/test/framework/benchmark/Makedef.OFP
  scale-rm/test/framework/benchmark/Mkjobshell.FX100.sh
  scale-rm/test/framework/benchmark/Mkjobshell.OFP.sh
  sysdep/Makedef.FX100
  sysdep/Makedef.OFP
  sysdep/Mkjobshell.FX100.sh
  sysdep/Mkjobshell.OFP.sh
Due: lib-unit

add sysdep files for FX700 / FX1000
  scale-gm/test/framework/benchmark/Makedef.FX700
  scale-gm/test/framework/benchmark/Mkjobshell.FX700.sh
  scale-rm/test/framework/benchmark/Makedef.FX700
  scale-rm/test/framework/benchmark/Mkjobshell.FX700.sh
  sysdep/Makedef.FX700
  sysdep/Mkjobshell.FX700.sh
Due: lib-unit

fix for the nvidia compiler
  scalelib/src/file/scale_file.F90
  scalelib/src/file/scale_file.F90.erb
Due: normal, openmp, lib-unit

fixed a bug to make SNO
  Makefile
  scale-rm/util/sno/Makefile
  scale-rm/util/sno/base/mod_sno.F90
  scale-rm/util/sno/base/mod_sno_axis.F90
  scale-rm/util/sno/base/mod_sno_comm.F90
  scale-rm/util/sno/base/mod_sno_grads.F90
  scale-rm/util/sno/base/mod_sno_h.F90
  scale-rm/util/sno/base/mod_sno_map.F90
  scale-rm/util/sno/base/mod_sno_vars.F90
  scale-rm/util/sno/depend
  scale-rm/util/sno/makedepend
  scale-rm/util/sno/plugin/mod_snoplugin_vgridope.F90
Due: lib-unit

fixed a bug in the previous commit
  scale-rm/util/sno/plugin/mod_snoplugin_vgridope.F90
Due: lib-unit

fixed a bug in the previous commit
  scale-rm/util/sno/base/mod_sno_grads.F90
Due: lib-unit

Create build-test.yml
  .github/workflows/build-test.yml
Due: none

fix to build sno with single FP
  scale-rm/util/sno/Makefile
Due: lib-unit

call mod_atmos_phy_mp_driver_setup in mod_rm_prep for suzuki10
  scale-rm/src/admin/mod_rm_prep.F90
Due: normal, openmp, lib-unit

bugfix for sn14
  scalelib/src/atmosphere/physics/microphysics/scale_atmos_phy_mp_sn14.F90
Due: normal, openmp, lib-unit

fix openmp directive
  scalelib/src/atmosphere/physics/microphysics/scale_atmos_phy_mp_sn14.F90
Due: normal, openmp, lib-unit

refactor the SN14
  scalelib/src/atmosphere/physics/microphysics/scale_atmos_phy_mp_sn14.F90
Due: normal, openmp, lib-unit

implement Seiki and Ohno (2022) mixed phase collection and ice_nucleation_hom
  scalelib/src/atmosphere/physics/microphysics/scale_atmos_phy_mp_sn14.F90
Due: normal, openmp, lib-unit

implement Seiki and Ohno (2022)
  scalelib/src/atmosphere/physics/microphysics/scale_atmos_phy_mp_sn14.F90
Due: normal, openmp, lib-unit

optimization of sn14
  scalelib/src/atmosphere/physics/microphysics/scale_atmos_phy_mp_sn14.F90
Due: normal, openmp, lib-unit

optimization of the SN14
  scalelib/src/atmosphere/physics/microphysics/scale_atmos_phy_mp_sn14.F90
Due: normal, openmp, lib-unit

refactor sn14
  scalelib/src/atmosphere/physics/microphysics/scale_atmos_phy_mp_sn14.F90
Due: normal, openmp, lib-unit

changes for lightning in sn14
  scalelib/src/atmosphere/physics/microphysics/scale_atmos_phy_mp_sn14.F90
Due: normal, openmp, lib-unit

bugfix for lightning in sn14
  scalelib/src/atmosphere/physics/microphysics/scale_atmos_phy_mp_sn14.F90
Due: normal, openmp, lib-unit

fix for single precision FP
  scalelib/src/atmosphere/physics/microphysics/scale_atmos_phy_mp_sn14.F90
Due: normal, openmp, lib-unit

fix wrong index range
  scalelib/src/atmosphere/physics/microphysics/scale_atmos_phy_mp_sn14.F90
Due: normal, openmp, lib-unit

update depend
  scalelib/src/depend
Due: normal, openmp, lib-unit

fix OCL directive
  scalelib/src/atmosphere/physics/microphysics/scale_atmos_phy_mp_sn14.F90
Due: normal, openmp, lib-unit

bugfix for old gfortran
  scalelib/src/file/scale_file.F90
  scalelib/src/file/scale_file.F90.erb
Due: normal, openmp, lib-unit

Fix bugs in vertical numerical filtr for polar region
  scale-gm/src/atmos-gm/dynamics/mod_numfilter.F90
Due: normal, openmp, lib-unit

Changed to allocate buffer of the required size
  scalelib/src/communication/scale_comm_cartesC_nest.F90
Due: normal, openmp, lib-unit

fix wrong calculation of the flux in the z-direction for history output in the dynamical core
  scalelib/src/atmos-rm/dynamics/scale_atmos_dyn_tstep_large_fvm_heve.F90
Due: normal, openmp, lib-unit

fix wrong calcution of the flux for history output in the MYNN
  scalelib/src/atmosphere/physics/pbl/scale_atmos_phy_bl_mynn.F90
Due: normal, openmp, lib-unit

put array starting from 1 for the k-dimention for the flux history outputs
  scalelib/src/atmosphere/physics/pbl/scale_atmos_phy_bl_mynn.F90
Due: normal, openmp, lib-unit

default level is 2.5
  scalelib/src/atmosphere/physics/pbl/scale_atmos_phy_bl_mynn.F90
Due: normal, openmp, lib-unit

MPI one-side communication is used by default for non-Intel MPI
  scale-gm/test/framework/benchmark/Makedef.Linux64-intel-impi
  scale-gm/test/framework/benchmark/Makedef.Linux64-intel-impi-torque
  scale-gm/test/framework/benchmark/Makedef.Linux64-intelmic-impi
  scale-rm/test/framework/benchmark/Makedef.Linux64-intel-impi
  scale-rm/test/framework/benchmark/Makedef.Linux64-intel-impi-torque
  scale-rm/test/framework/benchmark/Makedef.Linux64-intelmic-impi
  scalelib/src/communication/scale_comm_cartesC.F90
  sysdep/Makedef.Linux64-intel-impi
  sysdep/Makedef.Linux64-intel-impi-torque
  sysdep/Makedef.Linux64-intelmic-impi
Due: normal, openmp, lib-unit

set zero to columnar and dendrie ice in qhyd2qtrc in SUZUKI10
  scalelib/src/atmosphere/physics/microphysics/scale_atmos_phy_mp_suzuki10.F90
Due: normal, openmp, lib-unit

do nothing in SAMAERO_setup when REALINPUT
  scale-rm/src/preprocess/mod_mkinit.F90
Due: normal, openmp, lib-unit

fix iteration count in INTERP_factor2d_linear_xy
  scalelib/src/common/scale_interp.F90
Due: normal, openmp, lib-unit

fix error of the domain compatibility
  scalelib/src/communication/scale_comm_cartesC_nest.F90
Due: normal, openmp, lib-unit

fixed typo
  scalelib/src/file/scale_file_cartesC.F90
Due: normal, openmp, lib-unit

optimization of TOMITA08
  scalelib/src/atmosphere/physics/microphysics/scale_atmos_phy_mp_tomita08.F90
Due: normal, openmp, lib-unit
