Repository scale-met/scale: changes, and which GitLab CI jobs are due for each by the changed paths.
All: normal, openmp, lib-unit, ug-en, ug-jp, description

normal:
  stage: build
  script:
  - apt-get install -y -qq libopenmpi-dev gfortran libnetcdf-dev libnetcdff-dev
  - cd scale-rm/src
  - make -j 4
  - make -j 4 SCALE_USE_SINGLEFP=T
  - cd ../util/sno
  - make -j 4
  - cd ../../../scale-gm/src
  - make -j 4
  - make -j 4 SCALE_USE_SINGLEFP=T

openmp:
  stage: build
  script:
  - apt-get install -y -qq libopenmpi-dev gfortran libnetcdf-dev libnetcdff-dev
  - cd scale-rm/src
  - make -j 4 SCALE_ENABLE_OPENMP=T
  - cd ../../scale-gm/src
  - make -j 4 SCALE_ENABLE_OPENMP=T

lib-unit:
  stage: test
  script:
  - apt-get install -y -qq libopenmpi-dev gfortran libnetcdf-dev
  - cd scalelib/test/unit
  - make makedir
  - make makelib
  - make makebin
  - mpirun --allow-run-as-root --oversubscribe -n 4 ./unit run.conf

ug-en:
  stage: doc
  script:
  - apt-get install -y -qq texlive-latex-base texlive-lang-japanese texlive-latex-recommended texlive-latex-extra
  - cd doc/users-guide/en
  - make
  artifacts:
    paths:
    - doc/users-guide/en/scale_users_guide_En.pdf
    expire_in: 1 mos

ug-jp:
  stage: doc
  script:
  - apt-get install -y -qq texlive-latex-base texlive-lang-japanese texlive-latex-recommended texlive-latex-extra
  - cd doc/users-guide/jp
  - make
  artifacts:
    paths:
    - doc/users-guide/jp/scale_users_guide.pdf
    expire_in: 1 mos

description:
  stage: doc
  script:
  - apt-get install -y -qq texlive-latex-base texlive-lang-japanese texlive-science
  - cd doc/descriptions
  - make
  artifacts:
    paths:
    - doc/descriptions/scale_rm_description.pdf
    expire_in: 1 mos

fix possible array references out of bounds
  scale-rm/src/preprocess/mod_realinput_netcdf.F90
  scalelib/src/atmosphere/common/scale_atmos_hydrostatic.F90
  scalelib/src/file/scale_file_netcdf.c
Due: normal, openmp, lib-unit

fix undfined references for the options in Tomita08
  scalelib/src/atmosphere/physics/microphysics/scale_atmos_phy_mp_tomita08.F90
Due: normal, openmp, lib-unit

fix SNO
  scale-rm/util/sno/base/mod_sno_vars.F90
Due: lib-unit

update VERSION and HISTORY
  HISTORY
  scale-gm/src/VERSION
  scale-rm/src/VERSION
  scalelib/src/VERSION
Due: normal, openmp, lib-unit

fix lack of private clause for OpenMP in scale_interp
  scalelib/src/common/scale_interp.F90
Due: normal, openmp, lib-unit

optimize the compiler options for the intel compiler
  sysdep/Makedef.Linux64-intel-impi
  sysdep/Makedef.Linux64-intel-impi-torque
  sysdep/Makedef.Linux64-intel-mpich2
  sysdep/Makedef.Linux64-intel-mpt
  sysdep/Mkjobshell.Linux64-intel-impi-torque.sh
  sysdep/Mkjobshell.Linux64-intel-impi.sh
  sysdep/Mkjobshell.Linux64-intel-mpich2.sh
  sysdep/Mkjobshell.Linux64-intel-mpt.sh
Due: none

fix UG for description about PARAM_ATMOS_PHY_SF_VARS in Section 4.4.6
  doc/users-guide/en/58_setting_physics_sf.tex
  doc/users-guide/jp/58_setting_physics_sf.tex
Due: ug-en, ug-jp

Reintroduced the limter for zeta in the calculation of Ls
  scalelib/src/atmosphere/physics/pbl/scale_atmos_phy_bl_mynn.F90
Due: normal, openmp, lib-unit

add LSD_START_TIME parameter to the gabls2 test case
  scale-rm/test/case/boundarylayer/mod_user.F90
Due: lib-unit

UG: refine table line breaks for cleaner layout
  doc/users-guide/en/54_setting_howtoinput.tex
  doc/users-guide/jp/54_setting_howtoinput.tex
Due: ug-en, ug-jp

users-guide: sync with SCALE-RM & SNO
  doc/users-guide/en/44_real_exp_pp.tex
  doc/users-guide/en/511_2setting_offline_nesting.tex
  doc/users-guide/en/51_setting_domain.tex
  doc/users-guide/en/54_setting_howtoinput.tex
  doc/users-guide/en/56_setting_monitor.tex
  doc/users-guide/en/58_setting_physics_Urb.tex
  doc/users-guide/en/58_setting_physics_sf.tex
  doc/users-guide/en/61_detail_netcdf.tex
  doc/users-guide/en/63_setting_bulkjob.tex
  doc/users-guide/en/A3_practice2_A.tex
  doc/users-guide/jp/44_real_exp_pp.tex
  doc/users-guide/jp/46_real_exp_run.tex
  doc/users-guide/jp/511_2setting_offline_nesting.tex
  doc/users-guide/jp/51_setting_domain.tex
  doc/users-guide/jp/54_setting_howtoinput.tex
  doc/users-guide/jp/56_setting_history.tex
  doc/users-guide/jp/56_setting_monitor.tex
  doc/users-guide/jp/58_setting_physics_Urb.tex
  doc/users-guide/jp/58_setting_physics_sf.tex
  doc/users-guide/jp/61_detail_netcdf.tex
  doc/users-guide/jp/63_setting_bulkjob.tex
  doc/users-guide/jp/A3_practice2_A.tex
Due: ug-en, ug-jp

fix wrong CPP macro
  scalelib/src/communication/scale_comm_cartesC.F90
Due: normal, openmp, lib-unit

add missing deallocation
  scale-rm/src/atmos/mod_atmos_phy_mp_vars.F90
  scale-rm/src/coupler/mod_cpl_vars.F90
  scalelib/src/atmosphere/grid/scale_atmos_grid_cartesC.F90
  scalelib/src/atmosphere/grid/scale_atmos_grid_cartesC_real.F90
  scalelib/src/atmosphere/physics/lightning/scale_atmos_phy_lt_sato2019.F90
  scalelib/src/atmosphere/physics/microphysics/scale_atmos_phy_mp_sn14.F90
  scalelib/src/communication/scale_comm_cartesC.F90
Due: normal, openmp, lib-unit

Modify the order of setup routines
  scale-gm/src/admin/mod_gm_driver.F90
Due: normal, openmp, lib-unit

UG: correct figure illustrating vertical coordinate
  doc/users-guide/en/61_detail_netcdf.tex
  doc/users-guide/jp/61_detail_netcdf.tex
Due: ug-en, ug-jp

UG: typo check & fix
  doc/users-guide/en/21_install_prep.tex
  doc/users-guide/en/22_install_compile.tex
  doc/users-guide/en/32_ideal_exp_run.tex
  doc/users-guide/en/54_setting_howtoinput.tex
  doc/users-guide/en/62_doxygen.tex
  doc/users-guide/jp/11_introduction.tex
  doc/users-guide/jp/12_notation.tex
  doc/users-guide/jp/21_install_prep.tex
  doc/users-guide/jp/22_install_compile.tex
  doc/users-guide/jp/32_ideal_exp_run.tex
  doc/users-guide/jp/34_ideal_exp_last.tex
  doc/users-guide/jp/41_real_exp_introduction.tex
  doc/users-guide/jp/42_real_exp_data.tex
  doc/users-guide/jp/43_real_exp_prep.tex
  doc/users-guide/jp/44_real_exp_pp.tex
  doc/users-guide/jp/45_real_exp_init.tex
  doc/users-guide/jp/46_real_exp_run.tex
  doc/users-guide/jp/47_real_exp_sno.tex
  doc/users-guide/jp/511_0setting_nesting.tex
  doc/users-guide/jp/511_1setting_nesting_topo.tex
  doc/users-guide/jp/516_setting_common.tex
  doc/users-guide/jp/51_setting_domain.tex
  doc/users-guide/jp/52_setting_mapproj.tex
  doc/users-guide/jp/53_setting_topo.tex
  doc/users-guide/jp/54_setting_howtoinput.tex
  doc/users-guide/jp/55_setting_time.tex
  doc/users-guide/jp/56_setting_history.tex
  doc/users-guide/jp/57_setting_dynamics.tex
  doc/users-guide/jp/58_setting_physics_Lnd.tex
  doc/users-guide/jp/58_setting_physics_Ocn.tex
  doc/users-guide/jp/58_setting_physics_Urb.tex
  doc/users-guide/jp/58_setting_physics_cp.tex
  doc/users-guide/jp/58_setting_physics_rd.tex
  doc/users-guide/jp/59_setting_sno.tex
  doc/users-guide/jp/61_detail_netcdf.tex
  doc/users-guide/jp/62_doxygen.tex
  doc/users-guide/jp/63_setting_bulkjob.tex
  doc/users-guide/jp/local_macro.tex
  doc/users-guide/jp/setting_userdata.tex
Due: ug-en, ug-jp

update HISTORY
  HISTORY
Due: none

Update LICENSE and VERSION files
  LICENSE
  scale-gm/src/VERSION
  scale-rm/src/VERSION
  scalelib/src/VERSION
Due: normal, openmp, lib-unit

update depend
  scale-rm/src/depend
  scalelib/src/depend
Due: normal, openmp, lib-unit

Path conditions:
  normal: any of: scalelib/src/**/*, scale-rm/src/**/*, scale-gm/src/**/*
  openmp: any of: scalelib/src/**/*, scale-rm/src/**/*, scale-gm/src/**/*
  lib-unit: any of: scalelib/**/*, scale-rm/**/*, scale-gm/**/*
  ug-en: any of: doc/users-guide/en/*
  ug-jp: any of: doc/users-guide/jp/*
  description: any of: doc/users-guide/descriptions/*
