Repository scale-met/scale: changes, and which GitLab CI jobs are due for each by the changed paths.
All: normal, openmp, lib-unit, ug-en, ug-jp, description

.gitlab-ci.yml:

before_script:
  - apt-get update -qq
  - export SCALE_SYS=Linux64-gnu-ompi

stages:
  - build
  - test
  - doc


# BUILD

normal:
  stage: build
  script:
    - apt-get install -y -qq libopenmpi-dev gfortran libnetcdf-dev libnetcdff-dev
    - cd scale-rm/src
    - make -j 4
    - make -j 4 SCALE_USE_SINGLEFP=T
#    - make -j 4 SCALE_QUICKDEBUT=T
    - cd ../util/sno
    - make -j 4
    - cd ../../../scale-gm/src
    - make -j 4
    - make -j 4 SCALE_USE_SINGLEFP=T
  only:
    refs:
      - merge_requests
    changes:
      - scalelib/src/**/*
      - scale-rm/src/**/*
      - scale-gm/src/**/*

openmp:
  stage: build
  script:
    - apt-get install -y -qq libopenmpi-dev gfortran libnetcdf-dev libnetcdff-dev
    - cd scale-rm/src
    - make -j 4 SCALE_ENABLE_OPENMP=T
    - cd ../../scale-gm/src
    - make -j 4 SCALE_ENABLE_OPENMP=T
  only:
    refs:
      - merge_requests
    changes:
      - scalelib/src/**/*
      - scale-rm/src/**/*
      - scale-gm/src/**/*


#debug-gm:
#  stage: build
#  script:
#    - apt-get install -y -qq libopenmpi-dev gfortran libnetcdf-dev libnetcdff-dev
#    - cd scale-gm/src
#    - make -j 4 SCALE_QUICKDEBUT=T
#    - make -j 4 SCALE_DEBUT=T
#  only:
#    refs:
#      - merge_requests
#    changes:
#      - scalelib/src/**/*
#      - scale-rm/src/**/*
#      - scale-gm/src/**/*


# TEST

lib-unit:
  stage: test
  script:
    - apt-get install -y -qq libopenmpi-dev gfortran libnetcdf-dev
    - cd scalelib/test/unit
    - make makedir
    - make makelib
    - make makebin
    - mpirun --allow-run-as-root --oversubscribe -n 4 ./unit run.conf
  only:
    refs:
      - merge_requests
    changes:
      - scalelib/**/*
      - scale-rm/**/*
      - scale-gm/**/*


# DOC

ug-en:
  stage: doc
  script:
    - apt-get install -y -qq texlive-latex-base texlive-lang-japanese texlive-latex-recommended texlive-latex-extra
    - cd doc/users-guide/en
    - make
  artifacts:
    paths:
      - doc/users-guide/en/scale_users_guide_En.pdf
    expire_in: 1 mos
  only:
    refs:
      - merge_requests
    changes:
      - doc/users-guide/en/*

ug-jp:
  stage: doc
  script:
    - apt-get install -y -qq texlive-latex-base texlive-lang-japanese texlive-latex-recommended texlive-latex-extra
    - cd doc/users-guide/jp
    - make
  artifacts:
    paths:
      - doc/users-guide/jp/scale_users_guide.pdf
    expire_in: 1 mos
  only:
    refs:
      - merge_requests
    changes:
      - doc/users-guide/jp/*

description:
  stage: doc
  script:
    - apt-get install -y -qq texlive-latex-base texlive-lang-japanese texlive-science
    - cd doc/descriptions
    - make
  artifacts:
    paths:
      - doc/descriptions/scale_rm_description.pdf
    expire_in: 1 mos
  only:
    refs:
      - merge_requests
    changes:
      - doc/users-guide/descriptions/*


reference:
  stage: doc
  script:
    - apt-get install -y -qq doxygen graphviz
    - apt-get install -y -qq texlive-latex-base texlive-lang-japanese texlive-fonts-extra
    - cd doc/reference
    - make
  artifacts:
    paths:
      - doc/reference/latex/refman.pdf
      - doc/reference/html/
    expire_in: 1 mos
  when: manual

changes for accurate floating point operations
  scalelib/src/atmosphere/physics/cumulus/scale_atmos_phy_cp_kf.F90
Due: normal, openmp, lib-unit

add compiler option for precise calculation
  sysdep/Makedef.Linux64-nvidia
Due: none

change for a bug of nvidia compiler
  scalelib/src/atmosphere/physics/cumulus/scale_atmos_phy_cp_kf.F90
Due: normal, openmp, lib-unit

add OpenACC directive to scale_atmos_phy_cp_common and update mod_atmos_phy_cp_driver
  scale-rm/src/atmos/mod_atmos_phy_cp_driver.F90
  scalelib/src/atmosphere/physics/cumulus/scale_atmos_phy_cp_common.F90
Due: normal, openmp, lib-unit

fix wrong array size
  scalelib/src/atmos-rm/dynamics/scale_atmos_dyn.F90
Due: normal, openmp, lib-unit

unset SCALE_IGNORE_OPENACC flag
  scale-rm/src/Makefile
Due: normal, openmp, lib-unit

fix for non-OpenACC
  scale-rm/src/preprocess/mod_mkinit.F90
Due: normal, openmp, lib-unit

change for single precision FP
  scale-gm/src/atmos/mod_atmos_phy_mp_driver.F90
  scale-rm/src/atmos/mod_atmos_phy_mp_driver.F90
Due: normal, openmp, lib-unit

change number of GPUs for LOG output
  scale-rm/src/admin/mod_launcher.F90
Due: normal, openmp, lib-unit

fix miss spell in the previous commit
  scale-rm/src/admin/mod_launcher.F90
Due: normal, openmp, lib-unit

Update build-test.yml
  .github/workflows/build-test.yml
Due: none

fix for output QTRC_t_phys
  scalelib/src/atmos-rm/dynamics/scale_atmos_dyn_tstep_large_fvm_heve.F90
Due: normal, openmp, lib-unit

remove whitespace
  scalelib/src/atmos-rm/dynamics/scale_atmos_dyn_tstep_large_fvm_heve.F90
Due: normal, openmp, lib-unit

remove unnecessary log message
  scale-rm/src/atmos/mod_atmos_bnd_driver.F90
Due: normal, openmp, lib-unit

fix wrong intent in the KF scheme
  scalelib/src/atmosphere/physics/cumulus/scale_atmos_phy_cp_kf.F90
Due: normal, openmp, lib-unit

commit
  doc/users-guide/en/42_real_exp_data.tex
  doc/users-guide/jp/42_real_exp_data.tex
Due: ug-en, ug-jp

correct typo and update description of TB scheme
  doc/users-guide/en/58_setting_physics_tb.tex
  doc/users-guide/jp/58_setting_physics_tb.tex
Due: ug-en, ug-jp

remove the config parameter of "horizontal" in the Smagorinsky scheme from UG and the config generater
  doc/users-guide/en/58_setting_physics_tb.tex
  doc/users-guide/jp/58_setting_physics_tb.tex
  scale-rm/test/tutorial/real/config/param.conf.sh
Due: lib-unit, ug-en, ug-jp

change not to use find in Makefile
  scale-rm/test/Makefile.common
Due: lib-unit

fix for openmp
  scalelib/src/atmosphere/common/scale_atmos_hydrostatic.F90
Due: normal, openmp, lib-unit

fix wrong pjsub option
  sysdep/Mkjobshell.FUGAKU.sh
Due: none

fix inappropriate loop index
  scalelib/src/common/scale_interp.F90
Due: normal, openmp, lib-unit

fix for GNU compiler
  scalelib/include/scalelib.h
Due: lib-unit

initialize for QUICKDEBUG
  scale-rm/src/atmos/mod_atmos_vars.F90
  scale-rm/src/land/mod_land_vars.F90
  scale-rm/src/preprocess/mod_realinput.F90
  scale-rm/src/preprocess/mod_realinput_grads.F90
  scalelib/src/atmosphere/grid/scale_atmos_grid_cartesC_real.F90
Due: normal, openmp, lib-unit

do not use value attirbute because it prevent inline expansion with Fujistu compiler
  scalelib/src/atmos-rm/dynamics/scale_atmos_dyn_fvm_flux_ud3Koren1993.F90
  scalelib/src/atmos-rm/dynamics/scale_atmos_dyn_fvm_flux_udcd.F90.erb
Due: normal, openmp, lib-unit

optimization
  scale-rm/src/atmos/mod_atmos_vars.F90
  scalelib/src/atmos-rm/turbulence/scale_atmos_phy_tb_common.F90
Due: normal, openmp, lib-unit

bugfix for fujitsu compiler
  scalelib/src/atmosphere/physics/radiation/scale_atmos_phy_rd_mstrnx.F90
Due: normal, openmp, lib-unit

add OCL directives for optimization
  scalelib/src/atmos-rm/dynamics/scale_atmos_dyn_tstep_short_fvm_hevi.F90
  scalelib/src/common/scale_matrix.F90
Due: normal, openmp, lib-unit

change the way to specify LSIZE
  Mkinclude
  scalelib/include/scalelib.h
  sysdep/Makedef.FUGAKU
  sysdep/Makedef.FX700
  sysdep/Makedef.Linux64-nvidia
Due: lib-unit

update the making tool for the complete settings of the experiment
  scale-rm/test/tutorial/real/config/base.sno.conf.sh
  scale-rm/test/tutorial/real/config/mkconf.sh
Due: lib-unit

fix scripts of configurations in tutoreal/real experiment
  scale-rm/test/tutorial/real/config/base.sno.conf.sh
  scale-rm/test/tutorial/real/config/mkconf.sh
Due: lib-unit

add option to change BASEPOINT_LON/LAT to the making tool
  scale-rm/test/tutorial/real/config/mkconf.sh
  scale-rm/test/tutorial/real/config/param.conf.sh
  scale-rm/test/tutorial/real/sample/USER.online-nesting.sh
Due: lib-unit

Update 58_setting_physics_tb.tex
  doc/users-guide/en/58_setting_physics_tb.tex
Due: ug-en

fix dt for the second domain
  scale-rm/test/tutorial/real/sample/USER.online-nesting.sh
Due: lib-unit

change dt for orcen, land, and urban in the tutorial real case
  scale-rm/test/tutorial/real/USER.sh
  scale-rm/test/tutorial/real/config/mkconf.sh
  scale-rm/test/tutorial/real/sample/USER.default.sh
  scale-rm/test/tutorial/real/sample/USER.offline-nesting-child.sh
  scale-rm/test/tutorial/real/sample/USER.offline-nesting-parent.sh
  scale-rm/test/tutorial/real/sample/USER.online-nesting.sh
Due: lib-unit

change domain number to 02 if USER.online-nesting-child.sh is used
  scale-rm/test/tutorial/real/config/mkconf.sh
  scale-rm/test/tutorial/real/sample/USER.offline-nesting-child.sh
Due: lib-unit

fix to fail makedepend including "openacc" and "cusparse"
  scalelib/src/depend
  scalelib/src/makedepend
Due: normal, openmp, lib-unit

fix makedepend in scale-rm
  scale-rm/src/depend
  scale-rm/src/makedepend
Due: normal, openmp, lib-unit
