Repository scale-met/scale: changes, and which GitLab CI jobs are due for each by the changed paths.
All: normal, openmp, lib-unit, ug-en, ug-jp, description

.gitlab-ci.yml:

before_script:
  - apt-get update -qq
  - export SCALE_SYS=Linux64-gnu-ompi

stages:
  - build
  - test
  - doc


# BUILD

normal:
  stage: build
  script:
    - apt-get install -y -qq libopenmpi-dev gfortran libnetcdf-dev libnetcdff-dev
    - cd scale-rm/src
    - make -j 4
    - make -j 4 SCALE_USE_SINGLEFP=T
#    - make -j 4 SCALE_QUICKDEBUT=T
    - cd ../util/sno
    - make -j 4
    - cd ../../../scale-gm/src
    - make -j 4
    - make -j 4 SCALE_USE_SINGLEFP=T
  only:
    refs:
      - merge_requests
    changes:
      - scalelib/src/**/*
      - scale-rm/src/**/*
      - scale-gm/src/**/*

openmp:
  stage: build
  script:
    - apt-get install -y -qq libopenmpi-dev gfortran libnetcdf-dev libnetcdff-dev
    - cd scale-rm/src
    - make -j 4 SCALE_ENABLE_OPENMP=T
    - cd ../../scale-gm/src
    - make -j 4 SCALE_ENABLE_OPENMP=T
  only:
    refs:
      - merge_requests
    changes:
      - scalelib/src/**/*
      - scale-rm/src/**/*
      - scale-gm/src/**/*


#debug-gm:
#  stage: build
#  script:
#    - apt-get install -y -qq libopenmpi-dev gfortran libnetcdf-dev libnetcdff-dev
#    - cd scale-gm/src
#    - make -j 4 SCALE_QUICKDEBUT=T
#    - make -j 4 SCALE_DEBUT=T
#  only:
#    refs:
#      - merge_requests
#    changes:
#      - scalelib/src/**/*
#      - scale-rm/src/**/*
#      - scale-gm/src/**/*


# TEST

lib-unit:
  stage: test
  script:
    - apt-get install -y -qq libopenmpi-dev gfortran libnetcdf-dev
    - cd scalelib/test/unit
    - make makedir
    - make makelib
    - make makebin
    - mpirun --allow-run-as-root --oversubscribe -n 4 ./unit run.conf
  only:
    refs:
      - merge_requests
    changes:
      - scalelib/**/*
      - scale-rm/**/*
      - scale-gm/**/*


# DOC

ug-en:
  stage: doc
  script:
    - apt-get install -y -qq texlive-latex-base texlive-lang-japanese texlive-latex-recommended texlive-latex-extra
    - cd doc/users-guide/en
    - make
  artifacts:
    paths:
      - doc/users-guide/en/scale_users_guide_En.pdf
    expire_in: 1 mos
  only:
    refs:
      - merge_requests
    changes:
      - doc/users-guide/en/*

ug-jp:
  stage: doc
  script:
    - apt-get install -y -qq texlive-latex-base texlive-lang-japanese texlive-latex-recommended texlive-latex-extra
    - cd doc/users-guide/jp
    - make
  artifacts:
    paths:
      - doc/users-guide/jp/scale_users_guide.pdf
    expire_in: 1 mos
  only:
    refs:
      - merge_requests
    changes:
      - doc/users-guide/jp/*

description:
  stage: doc
  script:
    - apt-get install -y -qq texlive-latex-base texlive-lang-japanese texlive-science
    - cd doc/descriptions
    - make
  artifacts:
    paths:
      - doc/descriptions/scale_rm_description.pdf
    expire_in: 1 mos
  only:
    refs:
      - merge_requests
    changes:
      - doc/users-guide/descriptions/*


reference:
  stage: doc
  script:
    - apt-get install -y -qq doxygen graphviz
    - apt-get install -y -qq texlive-latex-base texlive-lang-japanese texlive-fonts-extra
    - cd doc/reference
    - make
  artifacts:
    paths:
      - doc/reference/latex/refman.pdf
      - doc/reference/html/
    expire_in: 1 mos
  when: manual

update Makedef and Mkjobshell for FUGAKU
  scale-gm/test/framework/benchmark/Makedef.FUGAKU
  scale-gm/test/framework/benchmark/Mkjobshell.FUGAKU.sh
  scale-rm/test/framework/benchmark/Makedef.FUGAKU
  scale-rm/test/framework/benchmark/Mkjobshell.FUGAKU.sh
  sysdep/Makedef.FUGAKU
  sysdep/Makedef.FX700
  sysdep/Mkjobshell.FUGAKU.sh
Due: lib-unit

change Makefile for test
  scale-gm/test/Makefile.common
  scale-gm/test/framework/benchmark/Makedef.FUGAKU
  scale-gm/test/framework/benchmark/Makedef.FX700
  scale-rm/test/Makefile.common
  scale-rm/test/framework/benchmark/Makedef.FUGAKU
  scale-rm/test/framework/benchmark/Makedef.FX700
  sysdep/Makedef.FUGAKU
  sysdep/Makedef.FX700
  sysdep/Makedef.Linux64-gnu-ompi
  sysdep/Makedef.Linux64-gnu-ompi-torque
  sysdep/Makedef.Linux64-intel-impi
  sysdep/Makedef.Linux64-intel-impi-torque
  sysdep/Makedef.Linux64-intel-mpich2
  sysdep/Makedef.Linux64-intel-mpt
  sysdep/Makedef.Linux64-intelmic-impi
  sysdep/Makedef.Linux64-nvidia
  sysdep/Makedef.LinuxARM-gnu-ompi
  sysdep/Makedef.MacOSX-gnu-ompi
  sysdep/Mkjobshell.FUGAKU.sh
  sysdep/Mkjobshell.FX700.sh
  sysdep/Mkjobshell.Linux64-gnu-ompi-torque.sh
  sysdep/Mkjobshell.Linux64-gnu-ompi.sh
  sysdep/Mkjobshell.Linux64-intel-impi-torque.sh
  sysdep/Mkjobshell.Linux64-intel-impi.sh
  sysdep/Mkjobshell.Linux64-intel-mpich2.sh
  sysdep/Mkjobshell.Linux64-intel-mpt.sh
  sysdep/Mkjobshell.Linux64-intelmic-impi.sh
  sysdep/Mkjobshell.LinuxARM-gnu-ompi.sh
  sysdep/Mkjobshell.MacOSX-gnu-ompi.sh
Due: lib-unit

update sysdef files for fugaku and FX700
  scale-gm/test/framework/benchmark/Makedef.FUGAKU
  scale-gm/test/framework/benchmark/Makedef.FX700
  scale-rm/test/framework/benchmark/Makedef.FUGAKU
  scale-rm/test/framework/benchmark/Makedef.FX700
  sysdep/Makedef.FUGAKU
  sysdep/Makedef.FX700
Due: lib-unit

fixed a bug to wrong axis name in SNO
  scale-rm/util/sno/plugin/mod_snoplugin_vgridope.F90
Due: lib-unit

fixed a bug in the previous commit
  scale-rm/util/sno/plugin/mod_snoplugin_vgridope.F90
Due: lib-unit

fix for AH and AHL data in UTC and extra fluxes from urban module
  scale-rm/src/coupler/mod_cpl_vars.F90
  scale-rm/src/urban/mod_urban_driver.F90
  scale-rm/src/urban/mod_urban_vars.F90
  scalelib/src/urban/dynamics/scale_urban_dyn_kusaka01.F90
Due: normal, openmp, lib-unit

fix for AH profile for urban model
  scale-rm/src/urban/mod_urban_driver.F90
  scalelib/src/urban/dynamics/scale_urban_dyn_kusaka01.F90
Due: normal, openmp, lib-unit

Make auto-generated sno.dxx.conf fit calculation domain better
  scale-rm/test/tutorial/real/config/base.sno.conf.sh
Due: lib-unit

update depend
  scalelib/src/depend
Due: normal, openmp, lib-unit

Refactor mod_cnvuser
  scale-rm/src/preprocess/mod_cnvuser.F90
Due: normal, openmp, lib-unit

Fix a potential memory leak
  scale-rm/src/preprocess/mod_cnvtopo.F90
Due: normal, openmp, lib-unit

fixed base.sno.conf.sh and mkconf.sh in tutorial/real testcase
  scale-rm/test/tutorial/real/config/base.sno.conf.sh
  scale-rm/test/tutorial/real/config/mkconf.sh
Due: lib-unit

Fix SIGSEGV when running cnvuser
  scalelib/src/file/scale_file_grads.F90
Due: normal, openmp, lib-unit

Add ONLINE_AGGRESSIVE_COMM to USER.sh
  scale-rm/test/tutorial/real/config/base.run.conf.sh
  scale-rm/test/tutorial/real/config/mkconf.sh
  scale-rm/test/tutorial/real/sample/USER.online-nesting.compact.sh
Due: lib-unit

Shift ahdiurnal to UTC
  scalelib/src/urban/dynamics/scale_urban_dyn_kusaka01.F90
Due: normal, openmp, lib-unit

Change pointer to allocatable in some locations.
  scale-gm/src/io/mod_extdata.F90
  scale-rm/src/preprocess/mod_realinput.F90
  scale-rm/src/preprocess/mod_realinput_grads.F90
  scale-rm/src/preprocess/mod_realinput_netcdf.F90
  scalelib/src/communication/scale_comm_cartesC.F90
  scalelib/src/communication/scale_comm_cartesC_nest.F90
  scalelib/src/file/scale_file_history.F90
  scalelib/src/file/scale_file_history.F90.erb
Due: normal, openmp, lib-unit

Make USER.sh more compact
  scale-rm/test/tutorial/real/config/mkconf.sh
  scale-rm/test/tutorial/real/sample/USER.online-nesting.compact.sh
Due: lib-unit

Fix problem with deallocate
  scale-rm/src/preprocess/mod_cnv2d.F90
Due: normal, openmp, lib-unit

Use urban anthropogenic heat in UTC
  scale-rm/src/urban/mod_urban_driver.F90
Due: normal, openmp, lib-unit

bugfix in USER.online-nesting.compact.sh
  scale-rm/test/tutorial/real/sample/USER.online-nesting.compact.sh
Due: lib-unit

minor fix of mod_cnvuser.F90
  scale-rm/src/preprocess/mod_cnvuser.F90
Due: normal, openmp, lib-unit

fix bugs in previous commit
  scale-rm/src/atmos/mod_atmos_driver.F90
  scale-rm/src/atmos/mod_atmos_phy_sf_vars.F90
  scale-rm/src/coupler/mod_cpl_vars.F90
Due: normal, openmp, lib-unit

Make cnvuser accept multiple variables
  scale-rm/src/preprocess/mod_cnvuser.F90
Due: normal, openmp, lib-unit

Fix a bug in if [[ -z ... ]]
  scale-rm/test/tutorial/real/config/mkconf.sh
Due: lib-unit

Use older syntax
  scale-rm/test/tutorial/real/config/mkconf.sh
Due: lib-unit

fix and update UG
  doc/users-guide/en/45_real_exp_init.tex
  doc/users-guide/en/54_setting_howtoinput.tex
  doc/users-guide/en/62_doxygen.tex
  doc/users-guide/en/A3_practice2_A.tex
  doc/users-guide/jp/45_real_exp_init.tex
  doc/users-guide/jp/54_setting_howtoinput.tex
  doc/users-guide/jp/62_doxygen.tex
  doc/users-guide/jp/A2_namelist.tex
  doc/users-guide/jp/A3_practice2_A.tex
Due: ug-en, ug-jp

update explanation of history output
  doc/users-guide/en/56_setting_history.tex
  doc/users-guide/en/62_doxygen.tex
  doc/users-guide/jp/56_setting_history.tex
  doc/users-guide/jp/62_doxygen.tex
Due: ug-en, ug-jp

optimizations
  scalelib/include/scalelib.h
  scalelib/src/atmos-rm/dynamics/scale_atmos_dyn_tstep_short_fvm_hevi.F90
  scalelib/src/atmosphere/common/scale_atmos_diagnostic.F90
  scalelib/src/common/scale_matrix.F90
  scalelib/src/common/scale_prof.F90
  scalelib/src/file/scale_file_external_input.F90
Due: normal, openmp, lib-unit

add global attributes in changing lat-lon conversion by SNO
  scale-rm/util/sno/base/mod_sno_vars.F90
Due: lib-unit

fix a bug in no calendar case by SNO
  scale-rm/util/sno/base/mod_sno_vars.F90
Due: lib-unit

fix a bug in the previous commit
  scale-rm/util/sno/base/mod_sno_vars.F90
Due: lib-unit

change recommendation of ONLINE_AGGRESSIVE_COMM to false
  scale-rm/test/tutorial/real/config/mkconf.sh
  scale-rm/test/tutorial/real/sample/USER.online-nesting.compact.sh
  scale-rm/test/tutorial/real/sample/USER.online-nesting.sh
Due: lib-unit

fix typo in param.bucket.conf
  data/land/param.bucket.conf
Due: none

update UG about ONLINE_AGGRESSIVE_COMM
  doc/users-guide/en/511_3setting_online_nesting.tex
  doc/users-guide/jp/511_3setting_online_nesting.tex
Due: ug-en, ug-jp

bugfix for mpi tag (related to #bd86ae8)
  scalelib/src/communication/scale_comm_icoA.F90
Due: normal, openmp, lib-unit

fix buffer size in scale_comm_icoA
  scalelib/src/communication/scale_comm_icoA.F90
Due: normal, openmp, lib-unit

distinguish BASENAME_ORG for land and ocean
  scale-rm/src/preprocess/mod_realinput.F90
Due: normal, openmp, lib-unit

bugfix in previous commit
  scale-rm/src/preprocess/mod_realinput.F90
Due: normal, openmp, lib-unit

refactoring
  scale-rm/src/preprocess/mod_realinput.F90
Due: normal, openmp, lib-unit
