Repository scale-met/scale: changes, and which GitLab CI jobs are due for each by the changed paths.
All: normal, openmp, lib-unit, ug-en, ug-jp, description

.gitlab-ci.yml:

before_script:
  - apt-get update -qq
  - export SCALE_SYS=Linux64-gnu-ompi

stages:
  - build
  - test
  - doc


# BUILD

normal:
  stage: build
  script:
    - apt-get install -y -qq libopenmpi-dev gfortran libnetcdf-dev libnetcdff-dev
    - cd scale-rm/src
    - make -j 4
    - make -j 4 SCALE_USE_SINGLEFP=T
#    - make -j 4 SCALE_QUICKDEBUT=T
    - cd ../util/sno
    - make -j 4
    - cd ../../../scale-gm/src
    - make -j 4
    - make -j 4 SCALE_USE_SINGLEFP=T
  only:
    refs:
      - merge_requests
    changes:
      - scalelib/src/**/*
      - scale-rm/src/**/*
      - scale-gm/src/**/*

openmp:
  stage: build
  script:
    - apt-get install -y -qq libopenmpi-dev gfortran libnetcdf-dev libnetcdff-dev
    - cd scale-rm/src
    - make -j 4 SCALE_ENABLE_OPENMP=T
    - cd ../../scale-gm/src
    - make -j 4 SCALE_ENABLE_OPENMP=T
  only:
    refs:
      - merge_requests
    changes:
      - scalelib/src/**/*
      - scale-rm/src/**/*
      - scale-gm/src/**/*


#debug-gm:
#  stage: build
#  script:
#    - apt-get install -y -qq libopenmpi-dev gfortran libnetcdf-dev libnetcdff-dev
#    - cd scale-gm/src
#    - make -j 4 SCALE_QUICKDEBUT=T
#    - make -j 4 SCALE_DEBUT=T
#  only:
#    refs:
#      - merge_requests
#    changes:
#      - scalelib/src/**/*
#      - scale-rm/src/**/*
#      - scale-gm/src/**/*


# TEST

lib-unit:
  stage: test
  script:
    - apt-get install -y -qq libopenmpi-dev gfortran libnetcdf-dev
    - cd scalelib/test/unit
    - make makedir
    - make makelib
    - make makebin
    - mpirun --allow-run-as-root --oversubscribe -n 4 ./unit run.conf
  only:
    refs:
      - merge_requests
    changes:
      - scalelib/**/*
      - scale-rm/**/*
      - scale-gm/**/*


# DOC

ug-en:
  stage: doc
  script:
    - apt-get install -y -qq texlive-latex-base texlive-lang-japanese texlive-latex-recommended texlive-latex-extra
    - cd doc/users-guide/en
    - make
  artifacts:
    paths:
      - doc/users-guide/en/scale_users_guide_En.pdf
    expire_in: 1 mos
  only:
    refs:
      - merge_requests
    changes:
      - doc/users-guide/en/*

ug-jp:
  stage: doc
  script:
    - apt-get install -y -qq texlive-latex-base texlive-lang-japanese texlive-latex-recommended texlive-latex-extra
    - cd doc/users-guide/jp
    - make
  artifacts:
    paths:
      - doc/users-guide/jp/scale_users_guide.pdf
    expire_in: 1 mos
  only:
    refs:
      - merge_requests
    changes:
      - doc/users-guide/jp/*

description:
  stage: doc
  script:
    - apt-get install -y -qq texlive-latex-base texlive-lang-japanese texlive-science
    - cd doc/descriptions
    - make
  artifacts:
    paths:
      - doc/descriptions/scale_rm_description.pdf
    expire_in: 1 mos
  only:
    refs:
      - merge_requests
    changes:
      - doc/users-guide/descriptions/*


reference:
  stage: doc
  script:
    - apt-get install -y -qq doxygen graphviz
    - apt-get install -y -qq texlive-latex-base texlive-lang-japanese texlive-fonts-extra
    - cd doc/reference
    - make
  artifacts:
    paths:
      - doc/reference/latex/refman.pdf
      - doc/reference/html/
    expire_in: 1 mos
  when: manual

fix wrong openmp directives
  scalelib/src/atmosphere/grid/scale_atmos_grid_cartesC_real.F90
Due: normal, openmp, lib-unit

update sysdef files for FUGAKU
  scale-gm/test/framework/benchmark/Makedef.FUGAKU
  scale-gm/test/framework/benchmark/Mkjobshell.FUGAKU.sh
  scale-rm/test/framework/benchmark/Makedef.FUGAKU
  scale-rm/test/framework/benchmark/Mkjobshell.FUGAKU.sh
  sysdep/Makedef.FUGAKU
  sysdep/Mkjobshell.FUGAKU.sh
Due: lib-unit

update VERSION, HISTORY and LICENSE
  HISTORY
  LICENSE
  scale-gm/src/VERSION
  scale-rm/src/VERSION
  scalelib/src/VERSION
Due: normal, openmp, lib-unit

bugfix for prg_mkllmap
  scale-gm/src/depend
  scale-gm/src/preprocess/prg_mkllmap.F90
Due: normal, openmp, lib-unit

fix directive for openacc
  scalelib/src/atmosphere/physics/radiation/scale_atmos_phy_rd_mstrnx.F90
Due: normal, openmp, lib-unit

remove scale_file_f.c
  scalelib/src/Makefile
  scalelib/src/file/scale_file_f.c
Due: normal, openmp, lib-unit

Fix argument from scalar to array(1) for MPI_Bcast
  scalelib/src/atmosphere/physics/microphysics/scale_atmos_phy_mp_suzuki10.F90
Due: normal, openmp, lib-unit

use iso_c_binding
  scalelib/src/file/scale_file.F90
  scalelib/src/file/scale_file.F90.erb
  scalelib/src/file/scale_file.h
  scalelib/src/file/scale_file_c.inc
  scalelib/src/file/scale_file_f.c
  scalelib/src/file/scale_file_h.F90
  scalelib/src/file/scale_file_netcdf.c
Due: normal, openmp, lib-unit

Fix wrong index of Map factor for Efield's calculation
  scalelib/src/atmosphere/physics/lightning/scale_atmos_phy_lt_sato2019.F90
Due: normal, openmp, lib-unit

fix conversion from c string to fortran one
  scalelib/src/file/scale_file_h.F90
Due: normal, openmp, lib-unit

changes for old gcc compilers
  scalelib/src/file/scale_file.F90
  scalelib/src/file/scale_file.F90.erb
  scalelib/src/file/scale_file_c.inc
  scalelib/src/file/scale_file_h.F90
Due: normal, openmp, lib-unit

Fix wrong index for Efield calculation
  scalelib/src/atmosphere/physics/lightning/scale_atmos_phy_lt_sato2019.F90
Due: normal, openmp, lib-unit

Add information of contributors
  scalelib/src/atmosphere/physics/lightning/scale_atmos_phy_lt_sato2019.F90
Due: normal, openmp, lib-unit

Add an option (no preprocessing) for preprocessing and move A Matrix to ATMOS_PHY_LT_sato2019_setup
  scalelib/src/atmosphere/physics/lightning/scale_atmos_phy_lt_sato2019.F90
Due: normal, openmp, lib-unit

Added preprocessing for Bi-CGSTAB in LT component
  scalelib/src/atmosphere/physics/lightning/scale_atmos_phy_lt_sato2019.F90
Due: normal, openmp, lib-unit

minor changes to the comments
  scalelib/src/atmosphere/physics/lightning/scale_atmos_phy_lt_sato2019.F90
Due: normal, openmp, lib-unit

remove offset option from the external input
  doc/users-guide/en/58_setting_physics_Lnd.tex
  doc/users-guide/en/58_setting_physics_Ocn.tex
  doc/users-guide/jp/58_setting_physics_Lnd.tex
  doc/users-guide/jp/58_setting_physics_Ocn.tex
  scalelib/src/atmosphere/physics/aerosol/scale_atmos_phy_ae_offline.F90
  scalelib/src/atmosphere/physics/radiation/scale_atmos_phy_rd_offline.F90
  scalelib/src/file/scale_file_external_input.F90
  scalelib/src/land/dynamics/scale_land_dyn_bucket.F90
  scalelib/src/ocean/dynamics/scale_ocean_dyn_offline.F90
  scalelib/src/ocean/dynamics/scale_ocean_dyn_slab.F90
  scalelib/src/ocean/physics/scale_ocean_phy_ice_simple.F90
Due: normal, openmp, lib-unit, ug-en, ug-jp

use FILE_EXTERNAL_INPUT in atmos_boundary
  scale-rm/src/admin/mod_rm_driver.F90
  scale-rm/src/atmos/mod_atmos_bnd_driver.F90
  scale-rm/src/atmos/mod_atmos_driver.F90
  scale-rm/src/atmos/mod_atmos_dyn_driver.F90
  scale-rm/test/realcase/restart/run_FNL/evaluate/diff.rb
  scalelib/src/atmos-rm/dynamics/scale_atmos_dyn_common.F90
  scalelib/src/file/scale_file_external_input.F90
Due: normal, openmp, lib-unit

bugfix for restart in CP
  scale-rm/src/atmos/mod_atmos_driver.F90
  scale-rm/src/atmos/mod_atmos_phy_cp_vars.F90
  scale-rm/src/atmos/mod_atmos_phy_mp_driver.F90
Due: normal, openmp, lib-unit

update config files for the test cases
  scale-rm/test/realcase/awaji/run_WRF/run.conf
  scale-rm/test/realcase/eastasia/run_FNL/run.conf
  scale-rm/test/realcase/japan/run_FNL/run.conf
  scale-rm/test/realcase/japan/run_GSM+FNL+MGDSST/run.conf
  scale-rm/test/realcase/japan/run_GSM+FNL/run.conf
  scale-rm/test/realcase/japan/run_MRIAGCM/run.conf
  scale-rm/test/realcase/onlinenesting/run_FNL/run_d01.conf
  scale-rm/test/realcase/onlinenesting/run_offline/run_d02.conf
  scale-rm/test/realcase/restart/run_FNL/runA_d01.conf
  scale-rm/test/realcase/restart/run_FNL/runB1_d01.conf
  scale-rm/test/realcase/restart/run_FNL/runB2_d01.conf
  scale-rm/test/realcase/yearly/run_FNL/run.conf
  scale-rm/test/tutorial/real/config/mkconf.sh
  scale-rm/test/tutorial/real/config/param.conf.sh
  scale-rm/test/tutorial/real/sample/USER.offline-nesting-child.sh
  utils/config-converter/config-converter_5.4-5.5.rb
Due: lib-unit

update the UG
  doc/users-guide/en/46_real_exp_run.tex
  doc/users-guide/en/510_setting_restart.tex
  doc/users-guide/en/511_2setting_offline_nesting.tex
  doc/users-guide/en/51_setting_domain.tex
  doc/users-guide/en/A3_practice2_A.tex
  doc/users-guide/jp/46_real_exp_run.tex
  doc/users-guide/jp/510_setting_restart.tex
  doc/users-guide/jp/511_2setting_offline_nesting.tex
  doc/users-guide/jp/51_setting_domain.tex
  doc/users-guide/jp/A3_practice2_A.tex
Due: ug-en, ug-jp

update EN version
  doc/users-guide/en/57_setting_dynamics.tex
Due: ug-en

add explanation for the reference state to the UG
  doc/users-guide/en/57_setting_dynamics.tex
  doc/users-guide/en/A3_practice2_A.tex
  doc/users-guide/jp/57_setting_dynamics.tex
  doc/users-guide/jp/A3_practice2_A.tex
  doc/users-guide/jp/scale_users_guide.tex
Due: ug-en, ug-jp

update JP version
  doc/users-guide/jp/57_setting_dynamics.tex
Due: ug-jp

minor fix
  scalelib/src/common/scale_interp.F90
  scalelib/src/common/scale_mapprojection.F90
Due: normal, openmp, lib-unit

remove scale-rm_init.F90 and change scale-rm_init to symbolic link to scale-rm_pp
  scale-rm/src/Makefile
  scale-rm/src/scale-rm_init.F90
  scale-rm/src/scale-rm_pp.F90
Due: normal, openmp, lib-unit

Minor change in sysdep/Makedef.FUGAKU
  sysdep/Makedef.FUGAKU
Due: none

enable to change start number of the directory for the bulk job
  scale-rm/src/scale-rm.F90
Due: normal, openmp, lib-unit

enable to change current directory to sub directory of each bulk job
  scale-gm/src/admin/mod_gm_driver.F90
  scale-gm/src/atmos-gm/grid/mod_latlon.F90
  scale-gm/src/scale-gm.F90
  scale-gm/src/tool/prg_fio_ico2ll.F90
  scale-rm/src/admin/mod_rm_driver.F90
  scale-rm/src/admin/mod_rm_prep.F90
  scale-rm/src/land/mod_land_vars.F90
  scale-rm/src/preprocess/mod_mkinit.F90
  scale-rm/src/scale-rm.F90
  scale-rm/test/case/grayzone/mod_user.F90
  scale-rm/test/case/snow/offline/mod_user.F90
  scale-rm/test/case/twpice/mod_user.F90
  scalelib/src/atmosphere/grid/scale_atmos_grid_cartesC_real.F90
  scalelib/src/atmosphere/physics/chemistry/scale_atmos_sfc_ch_rn222.F90
  scalelib/src/atmosphere/physics/radiation/scale_atmos_phy_rd_mstrnx.F90
  scalelib/src/atmosphere/physics/radiation/scale_atmos_phy_rd_profile.F90
  scalelib/src/common/scale_prc_icoA.F90
  scalelib/src/communication/scale_comm_cartesC_nest.F90
  scalelib/src/file/scale_file.F90
  scalelib/src/file/scale_file.F90.erb
  scalelib/src/file/scale_file_grads.F90
  scalelib/src/file/scale_file_tiledata.F90
  scalelib/src/io/scale_io.F90
  scalelib/src/io/scale_monitor.F90
  scalelib/src/land/physics/scale_land_phy_snow_ky90.F90
  scalelib/src/urban/dynamics/scale_urban_dyn_kusaka01.F90
Due: normal, openmp, lib-unit

update depend file
  scale-rm/src/depend
Due: normal, openmp, lib-unit

modify some log message and refactor launcher
  scale-rm/src/Makefile
  scale-rm/src/admin/mod_launcher.F90
  scale-rm/src/admin/mod_rm_prep.F90
  scale-rm/src/scale-rm.F90
  scale-rm/src/scale-rm_pp.F90
  scalelib/src/common/scale_prc.F90
  scalelib/src/common/scale_prc_cartesC.F90
  scalelib/src/io/scale_io.F90
Due: normal, openmp, lib-unit

update UG
  doc/users-guide/en/32_ideal_exp_run.tex
  doc/users-guide/en/44_real_exp_pp.tex
  doc/users-guide/en/45_real_exp_init.tex
  doc/users-guide/en/46_real_exp_run.tex
  doc/users-guide/en/511_3setting_online_nesting.tex
  doc/users-guide/en/63_setting_bulkjob.tex
  doc/users-guide/jp/32_ideal_exp_run.tex
  doc/users-guide/jp/44_real_exp_pp.tex
  doc/users-guide/jp/45_real_exp_init.tex
  doc/users-guide/jp/46_real_exp_run.tex
  doc/users-guide/jp/511_3setting_online_nesting.tex
  doc/users-guide/jp/63_setting_bulkjob.tex
Due: ug-en, ug-jp

enable multiple SCALE boundary files
  scale-rm/src/atmos/mod_atmos_bnd_driver.F90
Due: normal, openmp, lib-unit

Change base date of Vernal Equinox
  doc/users-guide/jp/58_setting_physics_rd.tex
  scalelib/src/atmosphere/common/scale_atmos_solarins.F90
Due: normal, openmp, lib-unit, ug-jp

Fix previous commit
  scalelib/src/atmosphere/common/scale_atmos_solarins.F90
Due: normal, openmp, lib-unit

Add UG(en)
  doc/users-guide/en/58_setting_physics_rd.tex
Due: ug-en

fix typo
  scalelib/src/common/scale_prof.F90
Due: normal, openmp, lib-unit
