Repository scale-met/scale: changes, and which GitLab CI jobs are due for each by the changed paths.
All: normal, openmp, lib-unit, ug-en, ug-jp, description

normal:
  stage: build
  script:
  - apt-get install -y -qq libopenmpi-dev gfortran libnetcdf-dev libnetcdff-dev
  - cd scale-rm/src
  - make -j 4
  - make -j 4 SCALE_USE_SINGLEFP=T
  - cd ../util/sno
  - make -j 4
  - cd ../../../scale-gm/src
  - make -j 4
  - make -j 4 SCALE_USE_SINGLEFP=T

openmp:
  stage: build
  script:
  - apt-get install -y -qq libopenmpi-dev gfortran libnetcdf-dev libnetcdff-dev
  - cd scale-rm/src
  - make -j 4 SCALE_ENABLE_OPENMP=T
  - cd ../../scale-gm/src
  - make -j 4 SCALE_ENABLE_OPENMP=T

lib-unit:
  stage: test
  script:
  - apt-get install -y -qq libopenmpi-dev gfortran libnetcdf-dev
  - cd scalelib/test/unit
  - make makedir
  - make makelib
  - make makebin
  - mpirun --allow-run-as-root --oversubscribe -n 4 ./unit run.conf

ug-en:
  stage: doc
  script:
  - apt-get install -y -qq texlive-latex-base texlive-lang-japanese texlive-latex-recommended texlive-latex-extra
  - cd doc/users-guide/en
  - make
  artifacts:
    paths:
    - doc/users-guide/en/scale_users_guide_En.pdf
    expire_in: 1 mos

ug-jp:
  stage: doc
  script:
  - apt-get install -y -qq texlive-latex-base texlive-lang-japanese texlive-latex-recommended texlive-latex-extra
  - cd doc/users-guide/jp
  - make
  artifacts:
    paths:
    - doc/users-guide/jp/scale_users_guide.pdf
    expire_in: 1 mos

description:
  stage: doc
  script:
  - apt-get install -y -qq texlive-latex-base texlive-lang-japanese texlive-science
  - cd doc/descriptions
  - make
  artifacts:
    paths:
    - doc/descriptions/scale_rm_description.pdf
    expire_in: 1 mos

enable to search min/max lon. and lat. for rotated domain
  scalelib/src/communication/scale_comm_cartesC_nest.F90
Due: normal, openmp, lib-unit

bugfix in using basic state in GM
  scale-gm/src/atmos/share/mod_bsstate.F90
Due: normal, openmp, lib-unit

enabled to use user defined calendar
  scale-gm/src/tool/prg_fio_ico2ll.F90
  scalelib/src/common/scale_calendar.F90
Due: normal, openmp, lib-unit

enabled to use user defined planetary orbit for calculation of solar insolation
  scalelib/src/atmosphere/common/scale_atmos_solarins.F90
Due: normal, openmp, lib-unit

bugfix on conversion from Var(gall) to Var(gall_in) in ATMOS_vars and ATMOS_PHY_MP_driver.
  scale-gm/src/atmos/mod_atmos_phy_mp_driver.F90
  scale-gm/src/atmos/mod_atmos_vars.F90
Due: normal, openmp, lib-unit

history_in is used for ATMOS_PHY_*_driver in GM and FILE_HISTORY_in was comment outed.
  scale-gm/src/atmos/mod_atmos_phy_bl_driver.F90
  scale-gm/src/atmos/mod_atmos_phy_mp_driver.F90
  scale-gm/src/atmos/mod_atmos_phy_rd_driver.F90
  scale-gm/src/atmos/mod_atmos_phy_sf_driver.F90
Due: normal, openmp, lib-unit

item check for initial state output by history_outlist is avoided (because initial states for ATMOS_PHY_vars are unavailable)
  scale-gm/src/io/mod_history.F90
Due: normal, openmp, lib-unit

test case for ATMOS_PHY is added.
  scale-gm/test/case/ATMOS_PHY/gl05rl00z40pe10/Makefile
  scale-gm/test/case/ATMOS_PHY/gl05rl00z40pe10/ico2ll.conf
  scale-gm/test/case/ATMOS_PHY/gl05rl00z40pe10/run.conf
Due: lib-unit

bugfix in mod_atmos_phy_sf_driver
  scale-gm/src/atmos/mod_atmos_phy_sf_driver.F90
Due: normal, openmp, lib-unit

PROF_rapstart/end is added in GM's mod_atmos_phy_driver.F90
  scale-gm/src/atmos/mod_atmos_phy_driver.F90
Due: normal, openmp, lib-unit

fix for Single FP in scale_atmos_solarins.F90
  scalelib/src/atmosphere/common/scale_atmos_solarins.F90
Due: normal, openmp, lib-unit

Modify Makefile to create a link of data files for radiation calculations, and delete the corresponding files in the directory of test case.
  scale-gm/test/case/ATMOS_PHY/gl05rl00z40pe10/Makefile
Due: lib-unit

fix run.conf in GM's ATMOS_PHY/gl05rl00z40pe10
  scale-gm/test/case/ATMOS_PHY/gl05rl00z40pe10/run.conf
Due: lib-unit

use iso_c_binding for fio
  scale-gm/include/fio.h
  scale-gm/include/fio_c.inc
  scale-gm/include/fiof.h
  scale-gm/src/Makefile
  scale-gm/src/io/fio.c
  scale-gm/src/io/fiof.c
  scale-gm/src/io/mod_fio.F90
  scale-gm/src/preprocess/mod_mkiimap.F90
  scale-gm/src/tool/prg_fio_cat.F90
  scale-gm/src/tool/prg_fio_dump.F90
  scale-gm/src/tool/prg_fio_ico2ico.F90
  scale-gm/src/tool/prg_fio_ico2ll.F90
  scale-gm/src/tool/prg_fio_sel.F90
Due: normal, openmp, lib-unit

update depend
  scale-gm/src/depend
  scale-gm/src/makedepend
Due: normal, openmp, lib-unit

fix for the FAPP profiler on FUGAKU
  scalelib/src/common/scale_prof.F90
Due: normal, openmp, lib-unit

update sysdep files for FUGAKU
  scale-gm/test/framework/benchmark/Makedef.FUGAKU
  scale-gm/test/framework/benchmark/Mkjobshell.FUGAKU.sh
  scale-rm/test/framework/benchmark/Makedef.FUGAKU
  scale-rm/test/framework/benchmark/Mkjobshell.FUGAKU.sh
  sysdep/Makedef.FUGAKU
  sysdep/Mkjobshell.FUGAKU.sh
Due: lib-unit

add sysdep file for NVIDIA HPC SDK
  Mkinclude
  scale-gm/test/framework/benchmark/Makedef.Linux64-nvidia
  scale-gm/test/framework/benchmark/Makedef.Linux64-pgi-ompi
  scale-gm/test/framework/benchmark/Mkjobshell.Linux64-nvidia.sh
  scale-rm/test/framework/benchmark/Makedef.Linux64-nvidia
  scale-rm/test/framework/benchmark/Makedef.Linux64-pgi-ompi
  scale-rm/test/framework/benchmark/Mkjobshell.Linux64-nvidia.sh
  scalelib/src/atmosphere/physics/microphysics/scale_atmos_phy_mp_sn14.F90
  scalelib/src/atmosphere/physics/pbl/scale_atmos_phy_bl_mynn.F90
  scalelib/src/atmosphere/physics/radiation/scale_atmos_phy_rd_mstrnx.F90
  scalelib/src/coupler/scale_bulkflux.F90
  sysdep/Makedef.Linux64-nvidia
  sysdep/Mkjobshell.Linux64-nvidia.sh
Due: normal, openmp, lib-unit

fix for pnetcdf fortran 2008 is now necessary
  scalelib/src/file/scale_file.F90
  scalelib/src/file/scale_file.F90.erb
  sysdep/Makedef.Linux64-gnu-ompi
  sysdep/Makedef.Linux64-gnu-ompi-torque
  sysdep/Makedef.LinuxARM-gnu-ompi
  sysdep/Makedef.MacOSX-gnu-ompi
Due: normal, openmp, lib-unit

fix an uninitialize number
  scalelib/src/communication/scale_comm_cartesC.F90
Due: normal, openmp, lib-unit

fix array out of range when debugging
  scalelib/src/atmos-rm/dynamics/scale_atmos_dyn_fvm_flux_udcd.F90.erb
Due: normal, openmp, lib-unit

apply the update in erb file to the fortran files
  scalelib/src/atmos-rm/dynamics/scale_atmos_dyn_fvm_flux_cd2.F90
  scalelib/src/atmos-rm/dynamics/scale_atmos_dyn_fvm_flux_cd4.F90
  scalelib/src/atmos-rm/dynamics/scale_atmos_dyn_fvm_flux_cd6.F90
  scalelib/src/atmos-rm/dynamics/scale_atmos_dyn_fvm_flux_cd8.F90
  scalelib/src/atmos-rm/dynamics/scale_atmos_dyn_fvm_flux_ud1.F90
  scalelib/src/atmos-rm/dynamics/scale_atmos_dyn_fvm_flux_ud3.F90
  scalelib/src/atmos-rm/dynamics/scale_atmos_dyn_fvm_flux_ud3Koren1993.F90
  scalelib/src/atmos-rm/dynamics/scale_atmos_dyn_fvm_flux_ud5.F90
  scalelib/src/atmos-rm/dynamics/scale_atmos_dyn_fvm_flux_ud7.F90
Due: normal, openmp, lib-unit

replace hardcode values of halo size with IHALO and JHALO
  scalelib/src/communication/scale_comm_cartesC_nest.F90
Due: normal, openmp, lib-unit

Remove unneccesary input of qv=0 in scale_atmos_phys_rd_profile.F90
  scalelib/src/atmosphere/physics/radiation/scale_atmos_phy_rd_profile.F90
Due: normal, openmp, lib-unit

fixed: ZERO was not initialized in mod_atmos_phy_sf_vars.F90 in both GM and RM
  scale-gm/src/atmos/mod_atmos_phy_sf_vars.F90
  scale-rm/src/atmos/mod_atmos_phy_sf_vars.F90
Due: normal, openmp, lib-unit

fix a bug in the usage of optional argument
  scalelib/src/file/scale_file.F90
  scalelib/src/file/scale_file.F90.erb
Due: normal, openmp, lib-unit

modify UG descriptions
  doc/users-guide/en/51_setting_domain.tex
  doc/users-guide/en/54_setting_howtoinput.tex
  doc/users-guide/jp/51_setting_domain.tex
  doc/users-guide/jp/54_setting_howtoinput.tex
Due: ug-en, ug-jp

describe the treatment of numerical filter for density
  doc/descriptions/dynamical_process.tex
Due: none

update back matter of UG
  doc/users-guide/en/back_matter.tex
  doc/users-guide/jp/back_matter.tex
Due: ug-en, ug-jp

fix spelling errors
  doc/descriptions/dynamical_process_hevi.tex
  doc/descriptions/dynamical_process_hivi.tex
  doc/descriptions/dynamical_process_mapfactor.tex
  doc/descriptions/fct.tex
  doc/descriptions/governing_equation.tex
  doc/descriptions/temporal_integration.tex
  doc/descriptions/turbulence.tex
  doc/users-guide/en/scale_users_guide_En.tex
Due: ug-en

fix how to select output ranks in ico2ll.
  scale-gm/src/tool/prg_fio_ico2ll.F90
Due: normal, openmp, lib-unit

GM's ico2ll updated. new options: memory_usage amd group_div_num.
  scale-gm/include/fio.h
  scale-gm/include/fio_c.inc
  scale-gm/src/io/fio.c
  scale-gm/src/tool/prg_fio_ico2ll.F90
Due: normal, openmp, lib-unit

layer_str and layer_end options were added to convert and output only a given range of layers in GM's ico2ll.
  scale-gm/src/tool/prg_fio_ico2ll.F90
Due: normal, openmp, lib-unit

bugfix in GM's ico2ico: symbols in namelist must be declared before the namelist is declared, gfortran 11.2 said.
  scale-gm/src/tool/prg_fio_ico2ico.F90
Due: normal, openmp, lib-unit

fixed a stalling problem when single file is output
  scalelib/src/common/scale_prof.F90
  scalelib/src/file/scale_file.F90
  scalelib/src/file/scale_file.F90.erb
  scalelib/src/file/scale_file_cartesC.F90
Due: normal, openmp, lib-unit

use address of the first element as the argument of c_loc for the older GNU compiler
  scalelib/src/file/scale_file.F90
  scalelib/src/file/scale_file.F90.erb
Due: normal, openmp, lib-unit

ignore lines for preprocesser during parseing source codes for document
  doc/reference/mkdoc.rb
Due: none

fixed option for grid nudging on REAL and nesting simulations
  scale-rm/src/atmos/mod_atmos_bnd_driver.F90
Due: normal, openmp, lib-unit

modify a term with the release of potential energy due to precipiation
  scalelib/src/atmosphere/physics/microphysics/scale_atmos_phy_mp_common.F90
Due: normal, openmp, lib-unit

Path conditions:
  normal: any of: scalelib/src/**/*, scale-rm/src/**/*, scale-gm/src/**/*
  openmp: any of: scalelib/src/**/*, scale-rm/src/**/*, scale-gm/src/**/*
  lib-unit: any of: scalelib/**/*, scale-rm/**/*, scale-gm/**/*
  ug-en: any of: doc/users-guide/en/*
  ug-jp: any of: doc/users-guide/jp/*
  description: any of: doc/users-guide/descriptions/*
