Repository scale-met/scale: changes, and which GitLab CI jobs are due for each by the changed paths.
All: normal, openmp, lib-unit, ug-en, ug-jp, description

.gitlab-ci.yml:

before_script:
  - apt-get update -qq
  - export SCALE_SYS=Linux64-gnu-ompi

stages:
  - build
  - test
  - doc


# BUILD

normal:
  stage: build
  script:
    - apt-get install -y -qq libopenmpi-dev gfortran libnetcdf-dev libnetcdff-dev
    - cd scale-rm/src
    - make -j 4
    - make -j 4 SCALE_USE_SINGLEFP=T
#    - make -j 4 SCALE_QUICKDEBUT=T
    - cd ../util/sno
    - make -j 4
    - cd ../../../scale-gm/src
    - make -j 4
    - make -j 4 SCALE_USE_SINGLEFP=T
  only:
    refs:
      - merge_requests
    changes:
      - scalelib/src/**/*
      - scale-rm/src/**/*
      - scale-gm/src/**/*

openmp:
  stage: build
  script:
    - apt-get install -y -qq libopenmpi-dev gfortran libnetcdf-dev libnetcdff-dev
    - cd scale-rm/src
    - make -j 4 SCALE_ENABLE_OPENMP=T
    - cd ../../scale-gm/src
    - make -j 4 SCALE_ENABLE_OPENMP=T
  only:
    refs:
      - merge_requests
    changes:
      - scalelib/src/**/*
      - scale-rm/src/**/*
      - scale-gm/src/**/*


#debug-gm:
#  stage: build
#  script:
#    - apt-get install -y -qq libopenmpi-dev gfortran libnetcdf-dev libnetcdff-dev
#    - cd scale-gm/src
#    - make -j 4 SCALE_QUICKDEBUT=T
#    - make -j 4 SCALE_DEBUT=T
#  only:
#    refs:
#      - merge_requests
#    changes:
#      - scalelib/src/**/*
#      - scale-rm/src/**/*
#      - scale-gm/src/**/*


# TEST

lib-unit:
  stage: test
  script:
    - apt-get install -y -qq libopenmpi-dev gfortran libnetcdf-dev
    - cd scalelib/test/unit
    - make makedir
    - make makelib
    - make makebin
    - mpirun --allow-run-as-root --oversubscribe -n 4 ./unit run.conf
  only:
    refs:
      - merge_requests
    changes:
      - scalelib/**/*
      - scale-rm/**/*
      - scale-gm/**/*


# DOC

ug-en:
  stage: doc
  script:
    - apt-get install -y -qq texlive-latex-base texlive-lang-japanese texlive-latex-recommended texlive-latex-extra
    - cd doc/users-guide/en
    - make
  artifacts:
    paths:
      - doc/users-guide/en/scale_users_guide_En.pdf
    expire_in: 1 mos
  only:
    refs:
      - merge_requests
    changes:
      - doc/users-guide/en/*

ug-jp:
  stage: doc
  script:
    - apt-get install -y -qq texlive-latex-base texlive-lang-japanese texlive-latex-recommended texlive-latex-extra
    - cd doc/users-guide/jp
    - make
  artifacts:
    paths:
      - doc/users-guide/jp/scale_users_guide.pdf
    expire_in: 1 mos
  only:
    refs:
      - merge_requests
    changes:
      - doc/users-guide/jp/*

description:
  stage: doc
  script:
    - apt-get install -y -qq texlive-latex-base texlive-lang-japanese texlive-science
    - cd doc/descriptions
    - make
  artifacts:
    paths:
      - doc/descriptions/scale_rm_description.pdf
    expire_in: 1 mos
  only:
    refs:
      - merge_requests
    changes:
      - doc/users-guide/descriptions/*


reference:
  stage: doc
  script:
    - apt-get install -y -qq doxygen graphviz
    - apt-get install -y -qq texlive-latex-base texlive-lang-japanese texlive-fonts-extra
    - cd doc/reference
    - make
  artifacts:
    paths:
      - doc/reference/latex/refman.pdf
      - doc/reference/html/
    expire_in: 1 mos
  when: manual

use COMM_bcast instead of MPI_bcast, which causes an error with the GNU compilers
  scalelib/src/atmosphere/physics/microphysics/scale_atmos_phy_mp_suzuki10.F90
  scalelib/src/communication/scale_comm_cartesC.F90
Due: normal, openmp, lib-unit

update HISTORY and VERSION
  HISTORY
  LEGAL
  LICENSE
  scale-gm/src/VERSION
  scale-rm/src/VERSION
  scalelib/src/VERSION
Due: normal, openmp, lib-unit

update sysdep files for FUGAKU
  scale-gm/test/framework/benchmark/Makedef.FUGAKU
  scale-gm/test/framework/benchmark/Mkjobshell.FUGAKU.sh
  scale-rm/test/framework/benchmark/Makedef.FUGAKU
  scale-rm/test/framework/benchmark/Mkjobshell.FUGAKU.sh
  sysdep/Makedef.FUGAKU
  sysdep/Mkjobshell.FUGAKU.sh
Due: lib-unit

change error message in FILE_flush
  scalelib/src/file/scale_file.F90
  scalelib/src/file/scale_file.F90.erb
Due: normal, openmp, lib-unit

fix wrong index in calculation of damping of MOMZ
  scalelib/src/atmos-rm/dynamics/scale_atmos_dyn_tstep_large_fvm_heve.F90
Due: normal, openmp, lib-unit

change number of digits from 5 to 6 in PROF_rapreport
  scalelib/src/common/scale_prof.F90
Due: normal, openmp, lib-unit

fix bug for large number of time steps
  scale-rm/test/realcase/yearly/run_FNL/run.conf
  scalelib/src/file/scale_file.F90
  scalelib/src/file/scale_file.F90.erb
Due: normal, openmp, lib-unit

Fix hourangle
  scalelib/src/atmosphere/common/scale_atmos_solarins.F90
Due: normal, openmp, lib-unit

fixing documentation of Bigg scheme (see https://github.com/scale-met/scale/pull/1)
  doc/descriptions/microphysics_seiki_details.tex
Due: none

enclosing less-than symbols in $$
  doc/descriptions/microphysics_seiki_details.tex
Due: none

enclosing less-than and more-than symbols in $$
  doc/descriptions/microphysics_seiki_details.tex
Due: none

change buffer length taking null char into account
  scalelib/src/file/scale_file.F90
  scalelib/src/file/scale_file.F90.erb
  scalelib/src/file/scale_file_netcdf.c
Due: normal, openmp, lib-unit

fixed lnum in namelist.grads_boundary
  scale-rm/test/tutorial/real/data/namelist.grads_boundary.FNL.2021032212-present
Due: lib-unit

Files related to FNL were adapted to the January 14, 2015 change in the number of vertical layers in RH
  scale-rm/test/tutorial/real/USER.sh
  scale-rm/test/tutorial/real/data/namelist.grads_boundary.FNL.2005053112-2015011400
  scale-rm/test/tutorial/real/data/namelist.grads_boundary.FNL.2015011406-2016051106
  scale-rm/test/tutorial/real/sample/USER.default.sh
  scale-rm/test/tutorial/real/sample/USER.offline-nesting-parent.sh
  scale-rm/test/tutorial/real/sample/USER.online-nesting.sh
  scale-rm/test/tutorial/real/tools/FNL_output/FNL_ATM.1999080100-2015011400.ctl
  scale-rm/test/tutorial/real/tools/FNL_output/FNL_ATM.2015011406-2016051106.ctl
  scale-rm/test/tutorial/real/tools/FNL_output/FNL_ATM.2016051112-present.ctl
Due: lib-unit

Files related to FNL were adapted to the March 22, 2021 change in the number of vertical layers in 3D variables + QV
  scale-rm/test/tutorial/real/data/gradsinput-link_FNL.sh
  scale-rm/test/tutorial/real/data/namelist.grads_boundary.FNL.2016051112-2021032206
  scale-rm/test/tutorial/real/data/namelist.grads_boundary.FNL.2021032212-present
  scale-rm/test/tutorial/real/tools/FNL_output/FNL_ATM.2016051112-2021032206.ctl
  scale-rm/test/tutorial/real/tools/FNL_output/FNL_ATM.2021032212-present.ctl
  scale-rm/test/tutorial/real/tools/FNL_output/FNL_SFC.1999080100-2021032206.ctl
  scale-rm/test/tutorial/real/tools/FNL_output/FNL_SFC.2021032212-present.ctl
  scale-rm/test/tutorial/real/tools/convert_FNL-grib2grads.sh
Due: lib-unit

fix typo (thanks Honda san)
  scalelib/src/atmosphere/physics/microphysics/scale_atmos_phy_mp_sn14.F90
Due: normal, openmp, lib-unit

updated SNO: enable to use output_single option for periodic-case history
  scale-rm/util/sno/mod_sno_comm.F90
  scale-rm/util/sno/mod_sno_vars.F90
  scale-rm/util/sno/plugin/mod_snoplugin_hgridope.F90
  scale-rm/util/sno/plugin/mod_snoplugin_timeave.F90
  scale-rm/util/sno/plugin/mod_snoplugin_vgridope.F90
  scale-rm/util/sno/prg_sno.F90
Due: lib-unit

update SNO: enable to read the single netcdf file from SNO in GrADS
  scale-rm/util/sno/mod_sno.F90
  scale-rm/util/sno/mod_sno_vars.F90
  scale-rm/util/sno/prg_sno.F90
Due: lib-unit

update SNO: add the attribute of "actual_range" in 1D axis
  scale-rm/util/sno/mod_sno_vars.F90
  scale-rm/util/sno/plugin/mod_snoplugin_hgridope.F90
Due: lib-unit

update tutorial experiment: use SNO instead of net2g (ideal case)
  scale-rm/test/tutorial/ideal/Makefile
  scale-rm/test/tutorial/ideal/checkfig_ideal.gs
  scale-rm/test/tutorial/ideal/sample/net2g_R20kmDX125m.conf
  scale-rm/test/tutorial/ideal/sample/net2g_R20kmDX500m-SN14.conf
  scale-rm/test/tutorial/ideal/sample/net2g_R20kmDX500m.conf
  scale-rm/test/tutorial/ideal/sample/net2g_R40kmDX500m.conf
  scale-rm/test/tutorial/ideal/sample/sno_R20kmDX125m.conf
  scale-rm/test/tutorial/ideal/sample/sno_R20kmDX500m-SN14.conf
  scale-rm/test/tutorial/ideal/sample/sno_R20kmDX500m.conf
  scale-rm/test/tutorial/ideal/sample/sno_R40kmDX500m.conf
Due: lib-unit

update document: use SNO in users-guide instead of net2g
  Makefile
  doc/users-guide/en/21_install_prep.tex
  doc/users-guide/en/23_install_postp.tex
  doc/users-guide/en/31_ideal_exp_introduction.tex
  doc/users-guide/en/33_ideal_exp_net2g.tex
  doc/users-guide/en/33_ideal_exp_sno.tex
  doc/users-guide/en/41_real_exp_introduction.tex
  doc/users-guide/en/43_real_exp_prep.tex
  doc/users-guide/en/47_real_exp_net2g.tex
  doc/users-guide/en/47_real_exp_sno.tex
  doc/users-guide/en/59_setting_sno.tex
  doc/users-guide/en/scale_users_guide_En.tex
  doc/users-guide/jp/21_install_prep.tex
  doc/users-guide/jp/23_install_postp.tex
  doc/users-guide/jp/31_ideal_exp_introduction.tex
  doc/users-guide/jp/33_ideal_exp_net2g.tex
  doc/users-guide/jp/33_ideal_exp_sno.tex
  doc/users-guide/jp/41_real_exp_introduction.tex
  doc/users-guide/jp/43_real_exp_prep.tex
  doc/users-guide/jp/47_real_exp_net2g.tex
  doc/users-guide/jp/47_real_exp_sno.tex
  doc/users-guide/jp/59_setting_sno.tex
  doc/users-guide/jp/scale_users_guide.tex
Due: ug-en, ug-jp

update tutorial experiment: use SNO instead of net2g
  scale-rm/test/Makefile.common
  scale-rm/test/tutorial/real/USER.sh
  scale-rm/test/tutorial/real/config/base.net2g.conf.sh
  scale-rm/test/tutorial/real/config/base.sno.conf.sh
  scale-rm/test/tutorial/real/config/mkMakefile.sh
  scale-rm/test/tutorial/real/config/mkconf.sh
  scale-rm/test/tutorial/real/config/mklink.sh
  scale-rm/test/tutorial/real/data/checkfig_real.gs
Due: lib-unit

update document for SNO
  doc/users-guide/en/32_ideal_exp_run.tex
  doc/users-guide/en/33_ideal_exp_sno.tex
  doc/users-guide/jp/23_install_postp.tex
  doc/users-guide/jp/32_ideal_exp_run.tex
  doc/users-guide/jp/33_ideal_exp_sno.tex
  doc/users-guide/jp/47_real_exp_sno.tex
Due: ug-en, ug-jp

update document: use updated namelist.grads_boundary.FNL
  doc/users-guide/en/45_real_exp_init.tex
  doc/users-guide/en/54_setting_howtoinput.tex
  doc/users-guide/jp/45_real_exp_init.tex
  doc/users-guide/jp/54_setting_howtoinput.tex
Due: ug-en, ug-jp

change the calculation of the equivalent potential temperature of the updraft
  scalelib/src/atmosphere/physics/cumulus/scale_atmos_phy_cp_kf.F90
Due: normal, openmp, lib-unit

Remove artificial limiter in subroutine RD_MSTRN_two_stream
  scalelib/src/atmosphere/physics/radiation/scale_atmos_phy_rd_mstrnx.F90
Due: normal, openmp, lib-unit

split ATMOS_PHY_BL_MYNN_tendency_tracer to scale_atmos_phy_bl_common module
  scale-rm/src/atmos/mod_atmos_phy_bl_driver.F90
  scale-rm/test/case/boundarylayer/gabls2_MYNN3/run.conf
  scalelib/src/Makefile
  scalelib/src/atmosphere/physics/pbl/scale_atmos_phy_bl_common.F90
  scalelib/src/atmosphere/physics/pbl/scale_atmos_phy_bl_mynn.F90
  scalelib/src/atmosphere/physics/pbl/scale_atmos_phy_bl_mynn_jmapplib.F90
  scalelib/src/depend
Due: normal, openmp, lib-unit

add the MYNN scheme of the JMA PP Library
  Mkinclude
  contrib/JMA/README
  scale-rm/src/Makefile
  scale-rm/src/admin/mod_rm_driver.F90
  scale-rm/src/admin/mod_rm_prep.F90
  scale-rm/src/atmos/mod_atmos_phy_bl_driver.F90
  scale-rm/src/atmos/mod_atmos_phy_bl_vars.F90
  scale-rm/src/makedepend
  scalelib/src/Makefile
  scalelib/src/atmosphere/physics/pbl/scale_atmos_phy_bl_mynn_jmapplib.F90
  scalelib/src/depend
  scalelib/src/makedepend
Due: normal, openmp, lib-unit

add KF scheme of the JMA PP library
  scale-rm/src/admin/mod_rm_driver.F90
  scale-rm/src/admin/mod_rm_prep.F90
  scale-rm/src/atmos/mod_atmos_phy_cp_driver.F90
  scale-rm/src/depend
  scale-rm/test/case/warmbubble/2500m_tomita08+KF/run.conf
  scale-rm/test/case/warmbubble/2500m_tomita08+KF/visualize/visualize.sh
  scalelib/src/Makefile
  scalelib/src/atmosphere/physics/cumulus/scale_atmos_phy_cp_kf_jmapplib.F90
  scalelib/src/depend
  scalelib/src/makedepend
Due: normal, openmp, lib-unit

changes for debug
  scale-rm/src/admin/mod_rm_driver.F90
  scale-rm/src/admin/mod_rm_prep.F90
  scalelib/src/atmos-rm/dynamics/scale_atmos_dyn_tinteg_short_rk4.F90
  scalelib/src/atmosphere/physics/microphysics/scale_atmos_phy_mp_common.F90
Due: normal, openmp, lib-unit

bugfix of the KF
  scalelib/src/atmosphere/physics/cumulus/scale_atmos_phy_cp_kf.F90
Due: normal, openmp, lib-unit

update depend
  scale-rm/src/depend
  scale-rm/src/makedepend
  scalelib/src/depend
  scalelib/src/makedepend
Due: normal, openmp, lib-unit

update Makefile
  scalelib/src/Makefile
  scalelib/src/makedepend
Due: normal, openmp, lib-unit

update MYNN scheme
  scalelib/src/atmosphere/physics/pbl/scale_atmos_phy_bl_mynn.F90
  scalelib/src/atmosphere/physics/pbl/scale_atmos_phy_bl_mynn_jmapplib.F90
Due: normal, openmp, lib-unit

update MYNN level3
  scale-rm/src/atmos/mod_atmos_phy_bl_driver.F90
  scale-rm/src/atmos/mod_atmos_phy_bl_vars.F90
  scalelib/src/atmosphere/physics/pbl/scale_atmos_phy_bl_mynn.F90
Due: normal, openmp, lib-unit

fix KF-JMAPPLIB without JMAPPLIB
  scalelib/src/atmosphere/physics/cumulus/scale_atmos_phy_cp_kf_jmapplib.F90
Due: normal, openmp, lib-unit

bugfix the MYNN scheme
  scalelib/src/atmosphere/physics/pbl/scale_atmos_phy_bl_mynn.F90
Due: normal, openmp, lib-unit

fix mod_user.F90 and config files for the gabls2 test case
  scale-rm/test/case/boundarylayer/gabls2/run.conf
  scale-rm/test/case/boundarylayer/mod_user.F90
Due: lib-unit
