Repository scale-met/scale: changes, and which GitLab CI jobs are due for each by the changed paths.
All: normal, openmp, lib-unit, ug-en, ug-jp, description

.gitlab-ci.yml:

before_script:
  - apt-get update -qq
  - export SCALE_SYS=Linux64-gnu-ompi

stages:
  - build
  - test
  - doc


# BUILD

normal:
  stage: build
  script:
    - apt-get install -y -qq libopenmpi-dev gfortran libnetcdf-dev libnetcdff-dev
    - cd scale-rm/src
    - make -j 4
    - make -j 4 SCALE_USE_SINGLEFP=T
#    - make -j 4 SCALE_QUICKDEBUT=T
    - cd ../util/sno
    - make -j 4
    - cd ../../../scale-gm/src
    - make -j 4
    - make -j 4 SCALE_USE_SINGLEFP=T
  only:
    refs:
      - merge_requests
    changes:
      - scalelib/src/**/*
      - scale-rm/src/**/*
      - scale-gm/src/**/*

openmp:
  stage: build
  script:
    - apt-get install -y -qq libopenmpi-dev gfortran libnetcdf-dev libnetcdff-dev
    - cd scale-rm/src
    - make -j 4 SCALE_ENABLE_OPENMP=T
    - cd ../../scale-gm/src
    - make -j 4 SCALE_ENABLE_OPENMP=T
  only:
    refs:
      - merge_requests
    changes:
      - scalelib/src/**/*
      - scale-rm/src/**/*
      - scale-gm/src/**/*


#debug-gm:
#  stage: build
#  script:
#    - apt-get install -y -qq libopenmpi-dev gfortran libnetcdf-dev libnetcdff-dev
#    - cd scale-gm/src
#    - make -j 4 SCALE_QUICKDEBUT=T
#    - make -j 4 SCALE_DEBUT=T
#  only:
#    refs:
#      - merge_requests
#    changes:
#      - scalelib/src/**/*
#      - scale-rm/src/**/*
#      - scale-gm/src/**/*


# TEST

lib-unit:
  stage: test
  script:
    - apt-get install -y -qq libopenmpi-dev gfortran libnetcdf-dev
    - cd scalelib/test/unit
    - make makedir
    - make makelib
    - make makebin
    - mpirun --allow-run-as-root --oversubscribe -n 4 ./unit run.conf
  only:
    refs:
      - merge_requests
    changes:
      - scalelib/**/*
      - scale-rm/**/*
      - scale-gm/**/*


# DOC

ug-en:
  stage: doc
  script:
    - apt-get install -y -qq texlive-latex-base texlive-lang-japanese texlive-latex-recommended texlive-latex-extra
    - cd doc/users-guide/en
    - make
  artifacts:
    paths:
      - doc/users-guide/en/scale_users_guide_En.pdf
    expire_in: 1 mos
  only:
    refs:
      - merge_requests
    changes:
      - doc/users-guide/en/*

ug-jp:
  stage: doc
  script:
    - apt-get install -y -qq texlive-latex-base texlive-lang-japanese texlive-latex-recommended texlive-latex-extra
    - cd doc/users-guide/jp
    - make
  artifacts:
    paths:
      - doc/users-guide/jp/scale_users_guide.pdf
    expire_in: 1 mos
  only:
    refs:
      - merge_requests
    changes:
      - doc/users-guide/jp/*

description:
  stage: doc
  script:
    - apt-get install -y -qq texlive-latex-base texlive-lang-japanese texlive-science
    - cd doc/descriptions
    - make
  artifacts:
    paths:
      - doc/descriptions/scale_rm_description.pdf
    expire_in: 1 mos
  only:
    refs:
      - merge_requests
    changes:
      - doc/users-guide/descriptions/*


reference:
  stage: doc
  script:
    - apt-get install -y -qq doxygen graphviz
    - apt-get install -y -qq texlive-latex-base texlive-lang-japanese texlive-fonts-extra
    - cd doc/reference
    - make
  artifacts:
    paths:
      - doc/reference/latex/refman.pdf
      - doc/reference/html/
    expire_in: 1 mos
  when: manual

fix for SP and GM
  scale-gm/src/atmos/mod_atmos_phy_bl_driver.F90
  scale-gm/src/atmos/mod_atmos_phy_bl_vars.F90
  scalelib/src/atmosphere/physics/pbl/scale_atmos_phy_bl_mynn.F90
Due: normal, openmp, lib-unit

fix according to the @tyanase's comments
  scalelib/src/atmosphere/physics/pbl/scale_atmos_phy_bl_mynn.F90
  scalelib/src/atmosphere/physics/pbl/scale_atmos_phy_bl_mynn_jmapplib.F90
Due: normal, openmp, lib-unit

deleted the sentence related to WRF input from the SCALE-RM User Guide
  doc/users-guide/en/11_introduction.tex
  doc/users-guide/en/511_1setting_nesting_topo.tex
  doc/users-guide/en/54_setting_howtoinput.tex
  doc/users-guide/jp/11_introduction.tex
  doc/users-guide/jp/511_1setting_nesting_topo.tex
  doc/users-guide/jp/54_setting_howtoinput.tex
Due: ug-en, ug-jp

deleted the sentence related to the latlon-catalogue file in users-guide
  doc/users-guide/en/511_1setting_nesting_topo.tex
  doc/users-guide/en/511_2setting_offline_nesting.tex
  doc/users-guide/en/54_setting_howtoinput.tex
  doc/users-guide/jp/511_1setting_nesting_topo.tex
  doc/users-guide/jp/511_2setting_offline_nesting.tex
  doc/users-guide/jp/54_setting_howtoinput.tex
Due: ug-en, ug-jp

fixed User Guide for using vertical conversion with SNO
  doc/users-guide/en/59_setting_sno.tex
  doc/users-guide/jp/59_setting_sno.tex
Due: ug-en, ug-jp

fixed the setting name of vertical conversion in SNO
  doc/users-guide/en/59_setting_sno.tex
  doc/users-guide/jp/59_setting_sno.tex
  scale-rm/util/sno/plugin/mod_snoplugin_vgridope.F90
Due: lib-unit, ug-en, ug-jp

added converting option from model height to actual height in SNO
  scale-rm/util/sno/plugin/mod_snoplugin_vgridope.F90
Due: lib-unit

fix error when directory name contains capital letters
  scalelib/src/Makefile
Due: normal, openmp, lib-unit

reduce memory foot print in realinput when SERIAL_PROC_REAL=.true.
  scale-rm/src/preprocess/mod_realinput.F90
Due: normal, openmp, lib-unit

change config files for the test cases
  scale-rm/test/framework/fpm/double_domains/pp/pp.d01.conf
  scale-rm/test/framework/fpm/double_domains/pp/pp.d02.conf
  scale-rm/test/realcase/awaji/init_WRF/init.conf
  scale-rm/test/realcase/onlinenesting/init_FNL/Makefile
  scale-rm/test/realcase/onlinenesting/init_FNL/init_d01.conf
  scale-rm/test/realcase/onlinenesting/init_FNL/init_d02.conf
  scale-rm/test/realcase/onlinenesting/init_offline/Makefile
  scale-rm/test/realcase/onlinenesting/init_offline/init_d02_history.conf
  scale-rm/test/realcase/onlinenesting/init_offline/init_d02_restart.conf
  scale-rm/test/realcase/onlinenesting/pp/pp_d01.conf
  scale-rm/test/realcase/onlinenesting/pp/pp_d02.conf
  scale-rm/test/realcase/restart/pp/pp_d01.conf
  scale-rm/test/realcase/restart/pp/pp_d02.conf
  scale-rm/test/tutorial/real/config/base.init.conf.sh
  scale-rm/test/tutorial/real/config/base.pp.conf.sh
  scale-rm/test/tutorial/real/config/mkconf.sh
  scale-rm/test/tutorial/real/sample/USER.offline-nesting-child.sh
Due: lib-unit

change the default value of INTERP_ITER_MAX from 100 to 5 in the realinput
  scale-rm/src/preprocess/mod_realinput.F90
Due: normal, openmp, lib-unit

update the UG
  doc/users-guide/en/511_1setting_nesting_topo.tex
  doc/users-guide/en/511_2setting_offline_nesting.tex
  doc/users-guide/en/54_setting_howtoinput.tex
  doc/users-guide/jp/511_1setting_nesting_topo.tex
  doc/users-guide/jp/511_2setting_offline_nesting.tex
  doc/users-guide/jp/54_setting_howtoinput.tex
Due: ug-en, ug-jp

change for older versions of GNU compilers
  scalelib/src/common/scale_hash.F90
Due: normal, openmp, lib-unit

add "NetCDF" type and remove "SCALE-RM" and "WRFARW" types to/from the realinput
  scale-rm/src/Makefile
  scale-rm/src/depend
  scale-rm/src/preprocess/mod_mkinit.F90
  scale-rm/src/preprocess/mod_realinput.F90
  scale-rm/src/preprocess/mod_realinput_grads.F90
  scale-rm/src/preprocess/mod_realinput_netcdf.F90
  scale-rm/src/preprocess/mod_realinput_scale.F90
  scale-rm/src/preprocess/mod_realinput_wrfarw.F90
  scalelib/src/Makefile
  scalelib/src/common/scale_hash.F90
  scalelib/src/common/scale_interp.F90
  scalelib/src/common/scale_mapprojection.F90
  scalelib/src/communication/scale_comm_cartesC.F90
  scalelib/src/depend
  scalelib/src/file/scale_file.F90
  scalelib/src/file/scale_file.F90.erb
  scalelib/src/file/scale_file.h
  scalelib/src/file/scale_file_c.inc
  scalelib/src/file/scale_file_grads.F90
  scalelib/src/file/scale_file_netcdf.c
Due: normal, openmp, lib-unit

change the nesting driver to remove parameters for offline nesting
  scale-rm/src/atmos/mod_atmos_bnd_driver.F90
  scale-rm/src/preprocess/mod_copytopo.F90
  scalelib/src/communication/scale_comm_cartesC_nest.F90
Due: normal, openmp, lib-unit

fix references of unallocated or uninitialized memory
  scale-rm/src/ocean/mod_ocean_vars.F90
  scalelib/src/atmosphere/common/scale_atmos_refstate.F90
  scalelib/src/file/scale_file_history.F90
  scalelib/src/file/scale_file_history.F90.erb
Due: normal, openmp, lib-unit

use MYNN lv2.5 in the coupling test cases
  scale-rm/test/case/coupling/500m_AtmLnd/run.conf
  scale-rm/test/case/coupling/500m_AtmOcn/run.conf
  scale-rm/test/case/coupling/500m_AtmOcnIce/run.conf
  scale-rm/test/case/coupling/500m_AtmUrb/run.conf
Due: lib-unit

fix zero division
  scalelib/src/ocean/physics/scale_ocean_phy_ice_simple.F90
Due: normal, openmp, lib-unit

make mpi tag number smaller to avoid error
  scalelib/src/communication/scale_comm_icoA.F90
Due: normal, openmp, lib-unit

fix bug in mod_fio
  scale-gm/src/io/mod_fio.F90
Due: normal, openmp, lib-unit

modify to avoid error with NVIDIA compiler
  scale-rm/src/preprocess/mod_realinput_netcdf.F90
  scalelib/src/common/scale_hash.F90
Due: normal, openmp, lib-unit

change sno for single precision
  scale-rm/test/Makefile.common
  scale-rm/util/sno/Makefile
  scale-rm/util/sno/mod_sno_grads.F90
Due: lib-unit

fix wrong range of index
  scalelib/src/common/scale_prc_icoA.F90
Due: normal, openmp, lib-unit

modify compile option for openacc
  sysdep/Makedef.Linux64-nvidia
Due: none

use latitude at the domain center as standard latitude for mercator and equidistant cylindical projections as default
  scalelib/src/common/scale_mapprojection.F90
Due: normal, openmp, lib-unit

update UG
  doc/users-guide/en/46_real_exp_run.tex
  doc/users-guide/en/511_2setting_offline_nesting.tex
  doc/users-guide/en/56_setting_history.tex
  doc/users-guide/jp/46_real_exp_run.tex
  doc/users-guide/jp/511_2setting_offline_nesting.tex
  doc/users-guide/jp/56_setting_history.tex
Due: ug-en, ug-jp

add "FILE_HISTORY_DEFAULT_TSTATS_OP" and "TSTATS_OP" parameters for history output
  scalelib/src/file/scale_file.F90
  scalelib/src/file/scale_file.F90.erb
  scalelib/src/file/scale_file.h
  scalelib/src/file/scale_file_c.inc
  scalelib/src/file/scale_file_history.F90
  scalelib/src/file/scale_file_history.F90.erb
  scalelib/src/file/scale_file_netcdf.c
Due: normal, openmp, lib-unit

fix openmp directive
  scalelib/src/atmosphere/physics/lightning/scale_atmos_phy_lt_sato2019.F90
Due: normal, openmp, lib-unit

update config files
  scale-rm/test/case/hydrostatic/500m_topo/run.conf
  scale-rm/test/case/warmbubble/1000m_sn14_lt/run.conf
  scale-rm/test/case/warmbubble/1000m_sn14_lt_f2013/run.conf
  scalelib/src/file/scale_file_history.F90
  scalelib/src/file/scale_file_history.F90.erb
Due: normal, openmp, lib-unit

fix possible undefined reference
  scale-rm/src/preprocess/mod_realinput_netcdf.F90
Due: normal, openmp, lib-unit

update hash for fugaku compiler
  scale-rm/src/preprocess/mod_realinput_netcdf.F90
  scalelib/src/common/scale_hash.F90
Due: normal, openmp, lib-unit

update Mkjobshell for FUGAKU
  scale-gm/test/framework/benchmark/Mkjobshell.FUGAKU.sh
  scale-rm/test/framework/benchmark/Mkjobshell.FUGAKU.sh
  sysdep/Mkjobshell.FUGAKU.sh
Due: lib-unit

add COMM_USE_MPI_ONESIDED option
  scalelib/src/communication/scale_comm_cartesC.F90
Due: normal, openmp, lib-unit

update the unit test
  scalelib/src/scale.F90
  scalelib/test/unit/test_comm.f90
  scalelib/test/unit/unit.f90
Due: normal, openmp, lib-unit

add enable_HZDFHI2007 and enable_TRAWLBG2017 parameters to the TOMITA08 scheme
  scalelib/src/atmosphere/physics/microphysics/scale_atmos_phy_mp_tomita08.F90
Due: normal, openmp, lib-unit

improve numerical stability
  scalelib/src/urban/dynamics/scale_urban_dyn_kusaka01.F90
Due: normal, openmp, lib-unit

fix for single precision
  scalelib/src/urban/dynamics/scale_urban_dyn_kusaka01.F90
Due: normal, openmp, lib-unit

introduce a limiter for momentum flux in the kusaka01
  scalelib/src/urban/dynamics/scale_urban_dyn_kusaka01.F90
Due: normal, openmp, lib-unit

fix the beta value when the amount of water is very small
  scalelib/src/urban/dynamics/scale_urban_dyn_kusaka01.F90
Due: normal, openmp, lib-unit
